<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation
        [class]="backgroundClass + ' dark print:hidden'"
        [mode]="'over'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="false">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex justify-center items-center mt-3 mb-4 h-20">
                <img
                    class="w-14"
                    [src]="logoPath"
                    alt="Logo image">
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div [class]="backgroundClass + ' dark print:hidden'" class="flex relative items-center px-4 w-full h-16 shadow flex-0 sm:h-20 md:px-6 z-49 dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center mx-2 lg:mr-2">
                <div class="hidden lg:flex">
                    <img
                        class="w-14 dark:hidden"
                        [src]="logoPath"
                        alt="Logo image">
                    <img
                        class="hidden w-14 dark:flex"
                        [src]="logoPath"
                        alt="Logo image">
                </div>
                <img
                    class="flex w-8 lg:hidden"
                    [src]="logoPath"
                    alt="Logo image">
            </div>
            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation
                class="mr-2"
                [name]="'mainNavigation'"
                [navigation]="navigation.horizontal">
            </fuse-horizontal-navigation>
        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <button
                title="Toggle Navigation"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <current-program-banner *ngIf="showCurrentProgramBanner"></current-program-banner>
            <agency-status-banner *ngIf="showAgencyStatusBanner"></agency-status-banner>
            <deadline-banner *ngIf="showDeadlineBanner"></deadline-banner>
            <languages></languages>
            <!-- <theme-toggle></theme-toggle> -->
            <messages></messages>
            <shortcuts></shortcuts>
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex items-center justify-start w-full px-4 border-t flex-0 h-18 md:px-6 z-49 bg-[#003C49] dark:bg-transparent print:hidden">
        <div class="flex items-center">
            <img src="assets/images/logo/aesan-logo-1x.png" alt="Logo" class="mr-2 h-14">
        </div>
        <div class="flex flex-row gap-9 ml-auto text-right text-white">
            <div class="flex gap-3 items-center">
                <mat-icon class="text-[#f39B1A] icon-size-4" svgIcon="heroicons_solid:map-pin"></mat-icon>
                <p class="ml-2 text-sm">P.O. Box 190759 San Juan, PR 00919-0759</p>
            </div>
            <div class="flex gap-3 items-center">
                <mat-icon class="text-[#f39B1A] icon-size-4" svgIcon="heroicons_solid:phone"></mat-icon>
                <p class="ml-2 text-sm">(787) 759-2000 / Exts. 4055, 6292</p>
            </div>
        </div>
    </div>
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
