<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <!-- Main: click en la lista cierra el drawer de filtros -->
  <div class="flex-auto overflow-y-auto" cdkScrollable (click)="filterDrawer?.close()">
    <app-generic-table [config]="tableConfig" [handler]="this"></app-generic-table>
  </div>

  <mat-paginator
    class="hidden sm:block"
    [length]="tableConfig.length"
    [pageSize]="tableConfig.pageSize"
    [pageSizeOptions]="tableConfig.pageSizeOptions"
    (page)="getPaginator($event)"
    showFirstLastButtons>
  </mat-paginator>

  <app-generic-filter-drawer
    #filterDrawer
    [filtersSchema]="filtersSchema"
    [handler]="this"
    [initialValues]="appliedFilters"
    drawerName="logsListFilterDrawer">
  </app-generic-filter-drawer>
</div>
