<!-- Messages toggle -->
<button
    mat-icon-button
    (click)="openPanel()"
    #messagesOrigin>
    <ng-container *ngIf="unreadCount() > 0">
        <span class="flex absolute top-0 right-0 left-0 justify-center items-center h-3">
            <span class="flex justify-center items-center px-1 mt-2.5 ml-4 h-4 text-xs font-medium text-indigo-50 bg-indigo-600 rounded-full shrink-0 min-w-4">
                {{unreadCount()}}
            </span>
        </span>
    </ng-container>
    <mat-icon [svgIcon]="'heroicons_outline:inbox'"></mat-icon>
</button>

<!-- Messages panel -->
<ng-template #messagesPanel>

    <div class="flex overflow-hidden fixed inset-0 flex-col shadow-lg sm:static sm:inset-auto sm:min-w-90 sm:w-90 sm:rounded-2xl">

        <!-- Header -->
        <div class="flex items-center py-4 pr-4 pl-6 shrink-0 bg-primary text-on-primary">
            <div class="mr-3 -ml-1 sm:hidden">
                <button
                    mat-icon-button
                    (click)="closePanel()">
                    <mat-icon
                        class="text-current icon-size-5"
                        [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">{{ 'messages.title' | transloco }}</div>
            <div class="ml-auto">
                <button
                    class="dark:text-white"
                    mat-icon-button
                    [disabled]="unreadCount() === 0"
                    [matTooltip]="'messages.markAllAsRead' | transloco"
                    (click)="markAllAsRead()">
                    <mat-icon
                        class="text-current icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope-open'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div class="flex overflow-y-auto relative flex-col flex-auto divide-y sm:max-h-120 bg-card">
            <!-- Messages -->
            <ng-container *ngFor="let message of messages(); trackBy: trackByFn">
                <div
                    class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5"
                    [ngClass]="{'unread': !message.read}">

                    <!-- Message with a link -->
                    <ng-container *ngIf="message.link">
                        <!-- Normal links -->
                        <ng-container *ngIf="!message.useRouter">
                            <a
                                class="flex flex-auto py-5 pl-6 cursor-pointer"
                                [href]="message.link"
                                (click)="openMessageDetail(message); $event.stopPropagation()">
                                <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                            </a>
                        </ng-container>
                        <!-- Router links -->
                        <ng-container *ngIf="message.useRouter">
                            <div
                                class="flex flex-auto py-5 pl-6 cursor-pointer"
                                (click)="openMessageDetail(message)">
                                <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                            </div>
                        </ng-container>
                    </ng-container>

                    <!-- Message without a link -->
                    <ng-container *ngIf="!message.link">
                        <div class="flex flex-auto py-5 pl-6 cursor-pointer" (click)="openMessageDetail(message)">
                            <ng-container *ngTemplateOutlet="messageContent"></ng-container>
                        </div>
                    </ng-container>

                    <!-- Actions -->
                    <div class="flex relative flex-col my-5 mr-6 ml-2">
                        <!-- Indicator -->
                        <button
                            class="w-6 h-6 min-h-6"
                            mat-icon-button
                            (click)="toggleRead(message)"
                            [matTooltip]="message.read ? ('messages.markAsUnread' | transloco) : ('messages.markAsRead' | transloco)">
                            <span
                                class="w-2 h-2 rounded-full"
                                [ngClass]="{'bg-gray-400 dark:bg-gray-500 sm:opacity-0 sm:group-hover:opacity-100': message.read,
                                            'bg-primary': !message.read}"></span>
                        </button>
                        <!-- Remove -->
                        <button
                            class="w-6 h-6 min-h-6 sm:opacity-0 sm:group-hover:opacity-100"
                            mat-icon-button
                            (click)="delete(message)"
                            [matTooltip]="'messages.remove' | transloco">
                            <mat-icon
                                class="icon-size-4"
                                [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                        </button>
                    </div>
                </div>

                <!-- Message content template -->
                <ng-template #messageContent>
                    <!-- Image -->
                    <ng-container *ngIf="message.image">
                        <img
                            class="object-cover object-center overflow-hidden mr-4 w-8 h-8 rounded-full shrink-0"
                            [src]="message.image"
                            [alt]="'Message image'">
                    </ng-container>
                    <!-- Title, description & time -->
                    <div class="flex flex-col flex-auto">
                        <ng-container *ngIf="message.title">
                            <div
                                class="font-semibold line-clamp-1"
                                [innerHTML]="message.title"></div>
                        </ng-container>
                        <ng-container *ngIf="message.description">
                            <div
                                class="line-clamp-2"
                                [innerHTML]="message.description"></div>
                        </ng-container>
                        <div class="mt-2 text-sm leading-none text-secondary">
                            {{message.time | date:'MMM dd, h:mm a'}}
                        </div>
                    </div>
                </ng-template>
            </ng-container>

            <!-- No messages -->
            <ng-container *ngIf="!messages() || !messages().length">
                <div class="flex flex-col flex-auto justify-center items-center px-8 py-12 sm:justify-start">
                    <div class="flex justify-center items-center w-14 h-14 rounded-full flex-0 bg-primary-100 dark:bg-primary-600">
                        <mat-icon
                            class="text-primary-700 dark:text-primary-50"
                            [svgIcon]="'heroicons_outline:inbox'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">{{ 'messages.empty.title' | transloco }}</div>
                    <div class="mt-1 w-full text-center max-w-60 text-md text-secondary">{{ 'messages.empty.subtitle' | transloco }}</div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
