<div class="flex absolute inset-0 flex-col min-w-0">
  <!-- Header -->
  <app-generic-header [config]="headerConfig" [handler]="this" #usersHeader></app-generic-header>

  <!-- Main -->
  <div class="overflow-y-auto flex-auto sm:p-6" cdkScrollable>
    <div class="flex justify-center p-8 py-4 w-full rounded-full sm:justify-start">
      <img
        title="{{ 'users.edit.avatar.title' | transloco }}"
        (click)="fileInput.click()"
        class="object-cover rounded-full ring-4 ring-gray-400 cursor-pointer w-26 h-26"
        [src]="imageURL || 'assets/images/avatars/profile.png'"
        [alt]="'users.edit.avatar.alt' | transloco"
        (error)="handleMissingImage($event)"
        data-cy="avatar-image"
      />
      <input
        hidden
        onclick="this.value=null"
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        id="file"
        data-cy="file-input"
        [attr.aria-label]="'users.edit.avatar.select' | transloco"
      />
    </div>


      <form [formGroup]="headerConfig.formGroup" class="flex overflow-hidden flex-col col-span-12 sm:col-span-12">
        <div class="grid grid-cols-12 gap-2 p-4 pt-4 sm:pt-4">
          <!-- Personal Information -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-12">
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.firstName.label" | transloco }}</mat-label>
              <input
                matInput
                formControlName="firstName"
                data-cy="name-input"
                [placeholder]="'users.edit.firstName.placeholder' | transloco"
                [attr.aria-label]="'users.edit.firstName.label' | transloco"
                [title]="'users.edit.firstName.label' | transloco"
              />
              <mat-error *ngIf="headerConfig.formGroup.get('firstName').hasError('required')">
                {{ "users.edit.firstName.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.middleName.label" | transloco }}</mat-label>
              <input
                matInput
                formControlName="middleName"
                data-cy="middle-name-input"
                [placeholder]="'users.edit.middleName.placeholder' | transloco"
                [attr.aria-label]="'users.edit.middleName.label' | transloco"
                [title]="'users.edit.middleName.label' | transloco"
              />
              <mat-error *ngIf="headerConfig.formGroup.get('middleName').hasError('required')">
                {{ "users.edit.middleName.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.fatherLastName.label" | transloco }}</mat-label>
              <input
                matInput
                formControlName="fatherLastName"
                data-cy="father-last-name-input"
                [placeholder]="'users.edit.fatherLastName.placeholder' | transloco"
                [attr.aria-label]="'users.edit.fatherLastName.label' | transloco"
                [title]="'users.edit.fatherLastName.label' | transloco"
              />
              <mat-error *ngIf="headerConfig.formGroup.get('fatherLastName').hasError('required')">
                {{ "users.edit.fatherLastName.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.motherLastName.label" | transloco }}</mat-label>
              <input
                matInput
                formControlName="motherLastName"
                data-cy="mother-last-name-input"
                [placeholder]="'users.edit.motherLastName.placeholder' | transloco"
                [attr.aria-label]="'users.edit.motherLastName.label' | transloco"
                [title]="'users.edit.motherLastName.label' | transloco"
              />
            </mat-form-field>
          </div>
          <!-- Access Information -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:col-span-12" [class.sm:grid-cols-3]="!showAgencyField" [class.sm:grid-cols-4]="showAgencyField">
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.email.label" | transloco }}</mat-label>
              <input
                matInput
                formControlName="email"
                data-cy="email-input"
                [placeholder]="'users.edit.email.placeholder' | transloco"
                [attr.aria-label]="'users.edit.email.label' | transloco"
                [title]="'users.edit.email.label' | transloco"
              />
              <mat-error *ngIf="headerConfig.formGroup.get('email').hasError('required')">
                {{ "users.edit.email.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="headerConfig.formGroup.get('email').hasError('email')">
                {{ "users.edit.email.invalid" | transloco }}
              </mat-error>
              <mat-error *ngIf="headerConfig.formGroup.get('email').hasError('emailExists')">
                {{ "users.edit.email.exists" | transloco }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.primaryRole.label" | transloco }}</mat-label>
              <mat-select
                formControlName="primaryRole"
                [placeholder]="'users.edit.primaryRole.placeholder' | transloco"
                [compareWith]="compareById"
                data-cy="primary-role-select"
                [attr.aria-label]="'users.edit.primaryRole.label' | transloco"
              >
                <mat-option *ngFor="let _role of listRoles" [value]="_role" data-cy="role-option">
                  {{ (_role.displayName || _role.DisplayName || _role.displayNameEN || _role.DisplayNameEN || _role.name || _role.Name) }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="headerConfig.formGroup.get('primaryRole').hasError('required')">
                {{ "users.edit.primaryRole.required" | transloco }}
              </mat-error>
            </mat-form-field>
            @if (showAgencyField) {
              <mat-form-field class="flex-auto">
                <mat-label>{{ "users.edit.agency.label" | transloco }}</mat-label>
                <mat-select
                  formControlName="agency"
                  [placeholder]="'users.edit.agency.placeholder' | transloco"
                  [compareWith]="compareById"
                  data-cy="agency-select"
                  [attr.aria-label]="'users.edit.agency.label' | transloco"
                >
                  <mat-option [value]="null">{{ "users.edit.agency.empty" | transloco }}</mat-option>
                  <mat-option *ngFor="let _agency of listAgencies" [value]="_agency" data-cy="agency-option">
                    {{ _agency.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            }
            <mat-form-field class="flex-auto">
              <mat-label>{{ "users.edit.programs.label" | transloco }}</mat-label>
              <mat-select
                formControlName="programs"
                multiple
                [placeholder]="'users.edit.programs.placeholder' | transloco"
                [compareWith]="compareById"
                data-cy="programs-select"
                [attr.aria-label]="'users.edit.programs.label' | transloco"
              >
                <mat-option *ngFor="let _program of listPrograms" [value]="_program" data-cy="program-option">{{ _program.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          @if(isAdminUser) {
          <!-- Nuevos checkboxes para estados del usuario -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-12">
            <mat-checkbox formControlName="isActive" [attr.aria-label]="'users.edit.isActive.label' | transloco" data-cy="is-active-checkbox">
              {{ "users.edit.isActive.label" | transloco }}
            </mat-checkbox>

            <mat-checkbox
              formControlName="isTemporalPasswordActived"
              [attr.aria-label]="'users.edit.isTemporalPasswordActived.label' | transloco"
              data-cy="temporal-password-checkbox"
            >
              {{ "users.edit.isTemporalPasswordActived.label" | transloco }}
            </mat-checkbox>

            <mat-checkbox formControlName="emailConfirmed" [attr.aria-label]="'users.edit.emailConfirmed.label' | transloco" data-cy="email-confirmed-checkbox">
              {{ "users.edit.emailConfirmed.label" | transloco }}
            </mat-checkbox>
          </div>
          }
        </div>

      </form>
      @if (isAdminUser) {
      <div class="grid grid-cols-1 col-span-12 gap-4 px-4 my-6 sm:grid-cols-1">
        <p class="text-lg font-medium">{{ "users.edit.secondaryRoles.title" | transloco }}</p>
      </div>
      <div class="grid grid-cols-1 col-span-12 gap-4 px-4 mb-4 sm:grid-cols-1 sm:col-span-12">
        <app-generic-table [config]="secondaryRolesTableConfig" [handler]="secondaryRolesTableHandler"></app-generic-table>
      </div>
      }
      <div class="grid grid-cols-1 col-span-12 gap-4 px-4 my-6 sm:grid-cols-1">
        <p class="text-lg font-medium">{{ "users.edit.permissions-section" | transloco }}</p>
      </div>
      <div class="grid grid-cols-1 col-span-12 gap-4 px-4 mb-4 sm:grid-cols-1 sm:col-span-12">
        <app-generic-table [config]="tableConfig" [handler]="this"></app-generic-table>
      </div>


  </div>
</div>
