<div class="flex flex-col items-center flex-auto min-w-0 sm:justify-center">
  <!-- Theme Toggle and Languages -->
  <div class="fixed z-50 flex items-center gap-2 top-4 right-4">
    <languages></languages>
    <theme-toggle></theme-toggle>
  </div>
  <div class="flex-auto w-full p-6 max-w-360 sm:p-10">
    <div class="w-full px-4 py-8 sm:w-auto sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
      <div class="mt-2 text-4xl font-extrabold leading-tight tracking-tight text-center">{{ "auth.sign-up.title" | transloco }}</div>
      <form class="mt-10" [formGroup]="signUpForm" #signUpNgForm="ngForm" data-cy="sign-up-form">
        <!-- Sponsor Information -->
        <div class="grid grid-cols-12 gap-2 pb-2">
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "auth.sign-up.sponsor-information" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "auth.sign-up.sponsor-information-description" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 mb-4 sm:grid-cols-1" *ngIf="!signUpForm.get('program')?.value">
            <p class="font-bold text-red-500">{{ "auth.sign-up.select-program-first" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <!-- Programa *  -->
            <mat-form-field data-cy="program-field">
              <mat-label>{{ "auth.sign-up.program.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'program'" data-cy="program-select">
                <mat-option *ngFor="let program of listPrograms" [value]="program" data-cy="program-option">
                  {{ program.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Non Profit *  -->
            <mat-form-field data-cy="non-profit-field">
              <mat-label>{{ "auth.sign-up.non-profit.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'nonProfit'" (selectionChange)="nonProfitChange($event)" data-cy="non-profit-select">
                <mat-option value="Yes" data-cy="non-profit-yes">{{ "auth.sign-up.non-profit.yes" | transloco }}</mat-option>
                <mat-option value="No" data-cy="non-profit-no">{{ "auth.sign-up.non-profit.no" | transloco }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <!-- nuevo campo Have you been denied or disqualified from state funds in the last seven years? *  -->
            <mat-form-field data-cy="state-funds-denied-field">
              <mat-label>{{ "auth.sign-up.state-funds-denied.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'stateFundsDenied'" (selectionChange)="checkFundsEligibility()" data-cy="state-funds-denied-select">
                <mat-option value="Yes" data-cy="state-funds-denied-yes">{{ "auth.sign-up.state-funds-denied.yes" | transloco }}</mat-option>
                <mat-option value="No" data-cy="state-funds-denied-no">{{ "auth.sign-up.state-funds-denied.no" | transloco }}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- nuevo campo Have you been denied or disqualified from federal funds in the last seven years? *  -->
            <mat-form-field data-cy="federal-funds-denied-field">
              <mat-label>{{ "auth.sign-up.federal-funds-denied.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'federalFundsDenied'" (selectionChange)="checkFundsEligibility()" data-cy="federal-funds-denied-select">
                <mat-option value="Yes" data-cy="federal-funds-denied-yes">{{ "auth.sign-up.federal-funds-denied.yes" | transloco }}</mat-option>
                <mat-option value="No" data-cy="federal-funds-denied-no">{{ "auth.sign-up.federal-funds-denied.no" | transloco }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <!-- Does the Sponsor offer any organized athletic programs engaged in interscholastic or community level competitive sports?* *  -->
            <mat-form-field data-cy="organized-athletic-programs-field">
              <mat-label>{{ "auth.sign-up.organized-athletic-programs.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'organizedAthleticPrograms'" (selectionChange)="checkOrganizedAthleticPrograms()" data-cy="organized-athletic-programs-select">
                <mat-option value="Yes" data-cy="organized-athletic-programs-yes">{{ "auth.sign-up.organized-athletic-programs.yes" | transloco }}</mat-option>
                <mat-option value="No" data-cy="organized-athletic-programs-no">{{ "auth.sign-up.organized-athletic-programs.no" | transloco }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4">
            <!-- Name of the Sponsoring Agency *  -->
            <mat-form-field data-cy="agency-field">
              <mat-label>{{ "auth.sign-up.agency.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'name'" placeholder="{{ 'auth.sign-up.agency.placeholder' | transloco }}" data-cy="agency-input" />
            </mat-form-field>
            <!-- UIE Number *  -->
            <mat-form-field data-cy="uie-field">
              <mat-label>{{ "auth.sign-up.uie.label" | transloco }}</mat-label>
              <input
                matInput
                [formControlName]="'uieNumber'"
                placeholder="{{ 'auth.sign-up.uie.placeholder' | transloco }}"
                inputmode="numeric"
                pattern="[0-9]*"
                numericOnly
                data-cy="uie-input"
              />
            </mat-form-field>
            <!-- State Department Registration Number *  -->
            <mat-form-field data-cy="sdr-field">
              <mat-label>{{ "auth.sign-up.state-department-registration.label" | transloco }}</mat-label>
              <input
                matInput
                [formControlName]="'sdrNumber'"
                placeholder="{{ 'auth.sign-up.state-department-registration.placeholder' | transloco }}"
                inputmode="numeric"
                pattern="[0-9]*"
                numericOnly
                data-cy="sdr-input"
              />
            </mat-form-field>
            <!-- EIN *  -->
            <mat-form-field data-cy="ein-field">
              <mat-label>{{ "auth.sign-up.ein.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'einNumber'" placeholder="{{ 'auth.sign-up.ein.placeholder' | transloco }}" numericOnly data-cy="ein-input" />
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "auth.sign-up.address.label" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "auth.sign-up.address.description" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Address *  -->
            <mat-form-field data-cy="address-field">
              <mat-label>{{ "auth.sign-up.address.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'address'" placeholder="{{ 'auth.sign-up.address.placeholder' | transloco }}" data-cy="address-input" />
            </mat-form-field>

            <!-- City para Dirección Física *  -->
            <mat-form-field data-cy="city-field">
              <mat-label>{{ "auth.sign-up.city.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'city'" (valueChange)="getRegionsByCityId($event, 'region')" data-cy="city-select">
                <mat-option *ngFor="let city of listCities" [value]="city" data-cy="city-option">
                  {{ city.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Region *  -->
            <mat-form-field data-cy="region-field">
              <mat-label>{{ "auth.sign-up.region.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'region'" data-cy="region-select" [compareWith]="compare">
                <mat-option *ngFor="let region of listRegions" [value]="region" data-cy="region-option">{{ region.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Zip Code *  -->
            <mat-form-field data-cy="zip-code-field">
              <mat-label>{{ "auth.sign-up.zip-code.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'zipCode'" placeholder="{{ 'auth.sign-up.zip-code.placeholder' | transloco }}" numericOnly data-cy="zip-code-input" />
            </mat-form-field>
            <!-- Latitude *  -->
            <mat-form-field data-cy="latitude-field">
              <mat-label>{{ "auth.sign-up.latitude.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'latitude'" placeholder="{{ 'auth.sign-up.latitude.placeholder' | transloco }}" data-cy="latitude-input" />
            </mat-form-field>
            <!-- Longitude *  -->
            <div class="flex items-center gap-2">
              <mat-form-field data-cy="longitude-field" class="flex-grow">
                <mat-label>{{ "auth.sign-up.longitude.label" | transloco }}</mat-label>
                <input matInput [formControlName]="'longitude'" placeholder="{{ 'auth.sign-up.longitude.placeholder' | transloco }}" data-cy="longitude-input" />
              </mat-form-field>
              <button
                mat-icon-button
                type="button"
                class="mt-2"
                matTooltipPosition="above"
                matTooltip="{{ 'auth.sign-up.gps-coordinates.tooltip' | transloco }}"
                (click)="window.open('https://www.gps-coordinates.net/', '_blank')"
                data-cy="gps-coordinates-button"
              >
                <mat-icon class="text-hint">info</mat-icon>
              </button>
            </div>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "auth.sign-up.postal-address.label" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "auth.sign-up.postal-address.description" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 mb-4 -ml-2 sm:grid-cols-4">
            <mat-checkbox data-cy="same-as-physical-address-checkbox" [formControlName]="'sameAsPhysicalAddress'" (change)="onCheckboxChange($event)">{{
              "auth.sign-up.same-as-physical-address.label" | transloco
            }}</mat-checkbox>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4">
            <!-- Postal Address *  -->
            <!-- cambiar texto a address unicamente -->
            <mat-form-field data-cy="postal-address-field">
              <mat-label>{{ "auth.sign-up.postal-address.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'postalAddress'" placeholder="{{ 'auth.sign-up.postal-address.placeholder' | transloco }}" data-cy="postal-address-input" />
            </mat-form-field>
            <!-- City para Dirección Postal *  -->
            <mat-form-field data-cy="postal-city-field">
              <mat-label>{{ "auth.sign-up.city.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'postalCity'" data-cy="postal-city-select" (valueChange)="getRegionsByCityId($event, 'postalRegion')">
                <mat-option *ngFor="let city of listCities" [value]="city" data-cy="postal-city-option">{{ city.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Region para Dirección Postal *  -->
            <mat-form-field data-cy="postal-region-field">
              <mat-label>{{ "auth.sign-up.region.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'postalRegion'" data-cy="postal-region-select" [compareWith]="comparePostal">
                <mat-option *ngFor="let region of listPostalRegions" [value]="region" data-cy="postal-region-option">{{ region.Name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Postal Zip Code *  -->
            <mat-form-field data-cy="postal-zip-code-field">
              <mat-label>{{ "auth.sign-up.zip-code.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'postalZipCode'" placeholder="{{ 'auth.sign-up.zip-code.placeholder' | transloco }}" numericOnly data-cy="postal-zip-code-input" />
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "auth.sign-up.user-information" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "auth.sign-up.user-information-description" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4">
            <!-- First Name *  -->
            <mat-form-field data-cy="first-name-field">
              <mat-label>{{ "auth.sign-up.first-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'firstName'" placeholder="{{ 'auth.sign-up.first-name.placeholder' | transloco }}" data-cy="first-name-input" />
            </mat-form-field>
            <!-- Middle Name *  -->
            <mat-form-field data-cy="middle-name-field">
              <mat-label>{{ "auth.sign-up.middle-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'middleName'" placeholder="{{ 'auth.sign-up.middle-name.placeholder' | transloco }}" data-cy="middle-name-input" />
            </mat-form-field>
            <!-- Father Last Name *  -->
            <mat-form-field data-cy="father-last-name-field">
              <mat-label>{{ "auth.sign-up.father-last-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'fatherLastName'" placeholder="{{ 'auth.sign-up.father-last-name.placeholder' | transloco }}" data-cy="father-last-name-input" />
            </mat-form-field>
            <!-- Mother Last Name *  -->
            <mat-form-field data-cy="mother-last-name-field">
              <mat-label>{{ "auth.sign-up.mother-last-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'motherLastName'" placeholder="{{ 'auth.sign-up.mother-last-name.placeholder' | transloco }}" data-cy="mother-last-name-input" />
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Email *  -->
            <mat-form-field data-cy="email-field">
              <mat-label>{{ "auth.sign-up.email.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'email'" placeholder="{{ 'auth.sign-up.email.placeholder' | transloco }}" type="email" data-cy="email-input" />
            </mat-form-field>
            <!-- Phone *  -->
            <mat-form-field data-cy="phone-field">
              <mat-label>{{ "auth.sign-up.phone.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'phone'" placeholder="{{ 'auth.sign-up.phone.placeholder' | transloco }}" type="tel" data-cy="phone-input" />
            </mat-form-field>
            <!-- Admin Title *  -->
            <mat-form-field data-cy="admin-title-field">
              <mat-label>{{ "auth.sign-up.admin-title.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'administrationTitle'" placeholder="{{ 'auth.sign-up.admin-title.placeholder' | transloco }}" data-cy="admin-title-input" />
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-end mt-2">
          <button
            class="w-full sm:w-auto fuse-mat-button-large"
            mat-flat-button
            [color]="'primary'"
            (click)="signUp()"
            [disabled]="!isEligible || signUpForm.invalid"
            data-cy="submit-button"
          >
            <span *ngIf="!signUpForm.disabled">{{ "auth.sign-up.submit" | transloco }}</span>
            <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
