<div class="flex flex-col flex-auto items-center min-w-0 sm:justify-center">
  <div class="flex-auto p-6 w-full max-w-360 sm:p-6">
    <div class="px-4 py-8 w-full sm:w-auto sm:p-6 sm:rounded-2xl sm:shadow sm:bg-card">
      <!-- Theme Toggle and Languages -->
      <div class="flex gap-2 justify-end items-center mb-4">
        <languages></languages>
      </div>
      <div class="mt-2 text-4xl font-extrabold tracking-tight leading-tight text-center">{{ "sign-up.title" | transloco }}</div>
      <form class="mt-10" [formGroup]="signUpForm" #signUpNgForm="ngForm" data-cy="sign-up-form">
        <!-- Sponsor Information -->
        <div class="grid grid-cols-12 gap-2 pb-2">
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "sign-up.sponsor-information" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "sign-up.sponsor-information-description" | transloco }}</p>
          </div>

          <!-- Programa *  -->
          <!-- ¿Es una organización sin fines de lucro? -->
          <!-- ¿Posee Certificación de Registro de Educación Básica vigente? -->
          <div class="grid grid-cols-1 col-span-12 gap-4" appDynamicGrid="3">
            <mat-form-field data-cy="program-field">
              <mat-label>{{ "sign-up.program-name.label" | transloco }}</mat-label>
              <mat-select id="program-select" [formControlName]="'program'" data-cy="program-select">
                <mat-option *ngFor="let program of listPrograms" [value]="program" data-cy="program-option">
                  {{ currentLang === "en" ? program.nameEN : program.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('program')?.hasError('required') && (signUpForm.get('program')?.touched || signUpForm.get('program')?.dirty)">
                {{ "sign-up.program.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- ¿Es una organización sin fines de lucro? -->
            <!-- Is it a non-profit organization? -->
            <!-- Si (1) y No (2) -->
            <mat-form-field data-cy="non-profit-field">
              <mat-label>{{ "sign-up.non-profit.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'nonProfit'" (selectionChange)="nonProfitChange($event)" data-cy="non-profit-select">
                <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="non-profit-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('nonProfit')?.hasError('required') && (signUpForm.get('nonProfit')?.touched || signUpForm.get('nonProfit')?.dirty)">
                {{ "sign-up.non-profit.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- ¿Posee Certificación de Registro de Educación Básica vigente? -->
          <!-- Do you have Basic Education Registry Certification? -->
          <!-- Si (1) y No (2) -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1" *ngIf="!isPSAVProgram(signUpForm.get('program')?.value)">
            <mat-form-field data-cy="basic-education-registry-field">
              <mat-label>{{ "sign-up.basic-education-registry.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'basicEducationRegistry'" data-cy="basic-education-registry-select">
                <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="basic-education-registry-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('basicEducationRegistry')?.hasError('required') && (signUpForm.get('basicEducationRegistry')?.touched || signUpForm.get('basicEducationRegistry')?.dirty)">
                {{ "sign-up.basic-education-registry.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <div
            class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1"
            *ngIf="isPACNAProgram(signUpForm.get('program')?.value) && signUpForm.get('basicEducationRegistry')?.value === true"
          >
            <!-- ¿Está interesado en participar de horario extendido? (Solo para PACNA) -->
            <!-- Are you interested in participating in extended hours? (Only for PACNA) -->
            <!-- Si (1) y No (2) -->
            <mat-form-field data-cy="extended-hours-field">
              <mat-label>{{ "sign-up.extended-hours.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'extendedHours'" data-cy="extended-hours-select">
                <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="extended-hours-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- ¿Desde cuándo su Entidad ofrece servicios? (Solo para PACNA) -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1" *ngIf="isPACNAProgram(signUpForm.get('program')?.value)">
            <div class="flex gap-2 items-center">
              <mat-form-field class="flex-grow" data-cy="services-offered-since-field">
                <mat-label>{{ "sign-up.services-offered-since.label" | transloco }}</mat-label>
                <input
                  matInput
                  [formControlName]="'servicesOfferedSince'"
                  [matDatepicker]="servicesSincePicker"
                  placeholder="{{ 'sign-up.services-offered-since.placeholder' | transloco }}"
                />
                <mat-datepicker-toggle matSuffix [for]="servicesSincePicker"></mat-datepicker-toggle>
                <mat-datepicker #servicesSincePicker></mat-datepicker>
                <mat-error *ngIf="signUpForm.get('servicesOfferedSince')?.hasError('required')">
                  {{ "sign-up.services-offered-since.required" | transloco }}
                </mat-error>
                <mat-error *ngIf="signUpForm.get('servicesOfferedSince')?.hasError('futureDate')">
                  {{ "sign-up.services-offered-since.future-date" | transloco }}
                </mat-error>
              </mat-form-field>
              <button
                title="button"
                id="services-offered-since-info-button"
                mat-icon-button
                type="button"
                class="mt-2"
                (click)="openCfrInfoByKey('cfr-info-dialog.cfr-226-6-b-1-xviii')"
                data-cy="services-offered-since-info-button"
              >
                <mat-icon class="text-hint" svgIcon="mat_outline:info"></mat-icon>
              </button>
            </div>
          </div>

          <!-- ¿En qué estatus se encuentra su Exención Contributiva? -->
          <!-- In what status is your Tax Exemption? -->
          <!-- En Proceso (3), Otorgado (4), Denegado (5) -->
          <!-- ¿Qué tipo de Exención Contributiva tiene? -->
          <!-- What type of Tax Exemption does it have? -->
          <!-- Estatal (11), Federal (12) -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2" *ngIf="shouldShowTaxExemption()">
            <!-- ¿En qué estatus se encuentra su Exención Contributiva? -->
            <!-- In what status is your Tax Exemption? -->
            <!-- En Proceso (3), Otorgado (4) -->
            <mat-form-field data-cy="tax-exemption-status-field">
              <mat-label>{{ "sign-up.tax-exemption-status.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'taxExemptionStatusId'" (selectionChange)="checkTaxExemptionStatus()" data-cy="tax-exemption-status-input">
                <mat-option *ngFor="let option of exceptionStatus" [value]="option.id" data-cy="tax-exemption-status-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('taxExemptionStatusId')?.hasError('required') && (signUpForm.get('taxExemptionStatusId')?.touched || signUpForm.get('taxExemptionStatusId')?.dirty)">
                {{ "sign-up.tax-exemption-status.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- ¿Qué tipo de Exención Contributiva tiene? -->
            <!-- What type of Tax Exemption does it have? -->
            <!-- Estatal (11), Federal (12) -->
            <mat-form-field data-cy="tax-exemption-type-field">
              <mat-label>{{ "sign-up.tax-exemption-type.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'taxExemptionTypeId'" data-cy="tax-exemption-type-input">
                <mat-option *ngFor="let option of taxExemptionType" [value]="option.id" data-cy="tax-exemption-type-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('taxExemptionTypeId')?.hasError('required') && (signUpForm.get('taxExemptionTypeId')?.touched || signUpForm.get('taxExemptionTypeId')?.dirty)">
                {{ "sign-up.tax-exemption-type.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <!-- ¿Ha sido denegado o descalificado de fondos estatales en los últimos siete años? -->
            <!-- Have you been denied or disqualified from state funds in the last seven years? -->
            <!-- Si (1) y No (2) -->
            <mat-form-field data-cy="state-funds-denied-field">
              <mat-label>{{ "sign-up.state-funds-denied.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'stateFundsDenied'" (selectionChange)="checkStateFundsDenied()" data-cy="state-funds-denied-select">
                <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="state-funds-denied-option">{{
                  currentLang === "en" ? option.nameEN : option.name
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('stateFundsDenied')?.hasError('required') && (signUpForm.get('stateFundsDenied')?.touched || signUpForm.get('stateFundsDenied')?.dirty)">
                {{ "sign-up.state-funds-denied.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- ¿Ha sido denegado o descalificado de fondos federales en los últimos siete años? -->
            <!-- Have you been denied or disqualified from federal funds in the last seven years? -->
            <!-- Si (1) y No (2) -->
            <div class="flex gap-2 items-center">
              <mat-form-field class="flex-grow" data-cy="federal-funds-denied-field">
                <mat-label>{{ "sign-up.federal-funds-denied.label" | transloco }}</mat-label>
                <mat-select [formControlName]="'federalFundsDenied'" (selectionChange)="checkFederalFundsDenied()" data-cy="federal-funds-denied-select">
                  <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="federal-funds-denied-option">{{
                    currentLang === "en" ? option.nameEN : option.name
                  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('federalFundsDenied')?.hasError('required') && (signUpForm.get('federalFundsDenied')?.touched || signUpForm.get('federalFundsDenied')?.dirty)">
                  {{ "sign-up.federal-funds-denied.required" | transloco }}
                </mat-error>
              </mat-form-field>
              <button mat-icon-button type="button" class="mt-2" (click)="openCfrInfoByKey(getStateFundsDeniedKey())" data-cy="state-funds-denied-info-button">
                <mat-icon class="text-hint" svgIcon="mat_outline:info"></mat-icon>
              </button>
            </div>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1" appDynamicGrid="2">
            <!-- ¿Razón por la cual fue descalificado o denegado de fondos estatales? -->
            <!-- Reason why the sponsor was disqualified or denied state funds? -->
            <mat-form-field *ngIf="signUpForm && signUpForm.get('stateFundsDenied')?.value === true" data-cy="state-funds-denied-reason-field">
              <mat-label>{{ "sign-up.state-funds-denied-reason.label" | transloco }}</mat-label>
              <textarea
                matInput
                [formControlName]="'stateFundsDeniedReason'"
                [placeholder]="'sign-up.state-funds-denied-reason.placeholder' | transloco"
                rows="3"
                data-cy="state-funds-denied-reason-input"
              >
              </textarea>
              <mat-error *ngIf="signUpForm.get('stateFundsDeniedReason')?.hasError('required')">
                {{ "sign-up.state-funds-denied-reason.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- ¿Razón por la cual fue descalificado o denegado de fondos federales? -->
            <!-- Reason why the sponsor was disqualified or denied federal funds? -->
            <mat-form-field class="flex-grow" *ngIf="signUpForm && signUpForm.get('federalFundsDenied')?.value === true" data-cy="federal-funds-denied-reason-field">
              <mat-label>{{ "sign-up.federal-funds-denied-reason.label" | transloco }}</mat-label>
              <textarea
                matInput
                [formControlName]="'federalFundsDeniedReason'"
                [placeholder]="'sign-up.federal-funds-denied-reason.placeholder' | transloco"
                rows="3"
                data-cy="federal-funds-denied-reason-input"
              >
              </textarea>
              <mat-error *ngIf="signUpForm.get('federalFundsDeniedReason')?.hasError('required')">
                {{ "sign-up.federal-funds-denied-reason.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Tipo de Entidad -->
          <!-- Type of Entity -->
          <!-- Gobierno (13), Privado (14) -->

          <!-- Tipo de Solicitante -->
          <!-- Type of Applicant -->
          <!-- Laico (15), Base de fe (16) -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <mat-form-field data-cy="type-of-entity-field">
              <mat-label>{{ "sign-up.type-of-entity.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'typeOfEntityId'" (selectionChange)="checkTypeOfEntity()" data-cy="type-of-entity-input">
                <mat-option *ngFor="let option of typeOfEntity" [value]="option.id" data-cy="type-of-entity-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('typeOfEntityId')?.hasError('required') && (signUpForm.get('typeOfEntityId')?.touched || signUpForm.get('typeOfEntityId')?.dirty)">
                {{ "sign-up.type-of-entity.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <mat-form-field data-cy="type-of-applicant-field">
              <mat-label>{{ "sign-up.type-of-applicant.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'typeOfApplicantId'" data-cy="type-of-applicant-input">
                <mat-option *ngFor="let option of typeOfApplicant" [value]="option.id" data-cy="type-of-applicant-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('typeOfApplicantId')?.hasError('required') && (signUpForm.get('typeOfApplicantId')?.touched || signUpForm.get('typeOfApplicantId')?.dirty)">
                {{ "sign-up.type-of-applicant.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- De poseer un contrato Público Alianza, especifique su modalidad -->
          <!-- If you have a Public Alliance contract, please specify the type of contract -->
          <!-- Socio-Económico (17), Híbrido (18) -->
          <!-- Este campo NO se debe mostrar para PSAV, solo para PDAM y PACNA -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <mat-form-field data-cy="public-alliance-contract-field" *ngIf="signUpForm && !isPSAVProgram(signUpForm.get('program')?.value)">
              <mat-label>{{ "sign-up.public-alliance-contract.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'publicAllianceContractId'" data-cy="public-alliance-contract-input">
                <mat-option *ngFor="let option of publicAllianceContract" [value]="option.id" data-cy="public-alliance-contract-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('publicAllianceContractId')?.hasError('required') && (signUpForm.get('publicAllianceContractId')?.touched || signUpForm.get('publicAllianceContractId')?.dirty)">
                {{ "sign-up.public-alliance-contract.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- ¿Es usted una Entidad Auspiciadora de Hogares? -->
          <!-- Are you a Day Care Homes? -->
          <!-- No, Sí, Ambos - Ahora usa OptionSelection -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <mat-form-field data-cy="is-day-care-home-field" *ngIf="signUpForm && isPACNAProgram(signUpForm.get('program')?.value)">
              <mat-label>{{ "sign-up.is-day-care-home.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'isDayCareHomeId'" [compareWith]="compareItems" data-cy="is-day-care-home-input">
                <mat-option *ngFor="let option of isDayCareHomeOptions" [value]="option" data-cy="is-day-care-home-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('isDayCareHomeId')?.hasError('required') && (signUpForm.get('isDayCareHomeId')?.touched || signUpForm.get('isDayCareHomeId')?.dirty)">
                {{ "sign-up.is-day-care-home.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- ¿Su Entidad participa actualmente en alguno de los siguientes programas? -->
          <!-- Does your Entity currently participate in any of the following programs? -->
          <!-- Early Head Start, Head Start, N/A - Solo para PSAV -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <mat-form-field data-cy="participates-in-head-start-program-field" *ngIf="signUpForm && isPSAVProgram(signUpForm.get('program')?.value)">
              <mat-label>{{ "sign-up.participates-in-head-start-program.label" | transloco }}</mat-label>
              <mat-select
                [formControlName]="'participatesInHeadStartProgramId'"
                (selectionChange)="checkParticipatesInHeadStartProgram()"
                [compareWith]="compareItems"
                data-cy="participates-in-head-start-program-input"
              >
                <mat-option *ngFor="let option of participatesInHeadStartProgramOptions" [value]="option" data-cy="participates-in-head-start-program-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('participatesInHeadStartProgramId')?.hasError('required') && (signUpForm.get('participatesInHeadStartProgramId')?.touched || signUpForm.get('participatesInHeadStartProgramId')?.dirty)">
                {{ "sign-up.participates-in-head-start-program.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Name of the Sponsoring Agency *  -->
          <!-- IUE Number *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <!-- Name of the Sponsoring Agency *  -->
            <mat-form-field data-cy="agency-field">
              <mat-label>{{ "sign-up.agency.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'name'" placeholder="{{ 'sign-up.agency.placeholder' | transloco }}" data-cy="agency-input" />
              <mat-error *ngIf="signUpForm.get('name')?.hasError('required') && (signUpForm.get('name')?.touched || signUpForm.get('name')?.dirty)">
                {{ "sign-up.agency.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- Identificador Único de Entidad (IUE) *  -->
            <mat-form-field data-cy="uie-field">
              <mat-label>{{ "sign-up.uie.label" | transloco }}</mat-label>
              <input
                matInput
                [formControlName]="'uieNumber'"
                placeholder="{{ 'sign-up.uie.placeholder' | transloco }}"
                inputmode="numeric"
                pattern="[0-9]*"
                numericOnly
                maxlength="12"
                data-cy="uie-input"
              />
              <mat-error *ngIf="signUpForm.get('uieNumber')?.hasError('required') && (signUpForm.get('uieNumber')?.touched || signUpForm.get('uieNumber')?.dirty)">
                {{ "sign-up.uie.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('uieNumber')?.hasError('maxDigits')">
                {{ "sign-up.uie.maxDigits" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('uieNumber')?.hasError('uieExists')">
                {{ "sign-up.uie.exists" | transloco }}
              </mat-error>
              <mat-hint *ngIf="isUieValid()" class="!text-green-600">
                {{ "sign-up.uie.valid" | transloco }}
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- State Department Registration Number *  -->
          <!-- EIN *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2">
            <!-- State Department Registration Number *  -->
            <mat-form-field data-cy="sdr-field">
              <mat-label>{{ "sign-up.state-department-registration.label" | transloco }}</mat-label>
              <input
                matInput
                [formControlName]="'sdrNumber'"
                placeholder="{{ 'sign-up.state-department-registration.placeholder' | transloco }}"
                inputmode="numeric"
                pattern="[0-9]*"
                numericOnly
                maxlength="10"
                data-cy="sdr-input"
              />
              <mat-error *ngIf="signUpForm.get('sdrNumber')?.hasError('required') && (signUpForm.get('sdrNumber')?.touched || signUpForm.get('sdrNumber')?.dirty)">
                {{ "sign-up.state-department-registration.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('sdrNumber')?.hasError('maxDigits')">
                {{ "sign-up.state-department-registration.maxDigits" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('sdrNumber')?.hasError('sdrExists')">
                {{ "sign-up.sdr.exists" | transloco }}
              </mat-error>
              <mat-hint *ngIf="isSdrValid()" class="!text-green-600">
                {{ "sign-up.sdr.valid" | transloco }}
              </mat-hint>
            </mat-form-field>

            <!-- EIN *  -->
            <mat-form-field data-cy="ein-field">
              <mat-label>{{ "sign-up.ein.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'einNumber'" placeholder="{{ 'sign-up.ein.placeholder' | transloco }}" inputmode="numeric" pattern="[0-9]*" numericOnly maxlength="9" data-cy="ein-input" />
              <mat-error *ngIf="signUpForm.get('einNumber')?.hasError('required') && (signUpForm.get('einNumber')?.touched || signUpForm.get('einNumber')?.dirty)">
                {{ "sign-up.ein.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('einNumber')?.hasError('maxDigits')">
                {{ "sign-up.ein.maxDigits" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('einNumber')?.hasError('einExists')">
                {{ "sign-up.ein.exists" | transloco }}
              </mat-error>
              <mat-hint *ngIf="isEinValid()" class="!text-green-600">
                {{ "sign-up.ein.valid" | transloco }}
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "sign-up.address.label" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "sign-up.address.description" | transloco }}</p>
          </div>

          <!-- Address *  -->
          <!-- City para Dirección Física *  -->
          <!-- Region *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Address *  -->
            <mat-form-field data-cy="address-field">
              <mat-label>{{ "sign-up.address.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'address'" placeholder="{{ 'sign-up.address.placeholder' | transloco }}" data-cy="address-input" />
              <mat-error *ngIf="signUpForm.get('address')?.hasError('required') && (signUpForm.get('address')?.touched || signUpForm.get('address')?.dirty)">
                {{ "sign-up.address.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- City para Dirección Física *  -->
            <mat-form-field data-cy="city-field">
              <mat-label>{{ "sign-up.city.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'city'" (valueChange)="getRegionsByCityId($event, 'region')" data-cy="city-select">
                <mat-option *ngFor="let city of listCities" [value]="city" data-cy="city-option">
                  {{ city.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('city')?.hasError('required') && (signUpForm.get('city')?.touched || signUpForm.get('city')?.dirty)">
                {{ "sign-up.city.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- Region *  -->
            <mat-form-field data-cy="region-field">
              <mat-label>{{ "sign-up.region.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'region'" data-cy="region-select" [compareWith]="compare">
                <mat-option *ngFor="let region of listRegions" [value]="region" data-cy="region-option">{{ region.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('region')?.hasError('required') && (signUpForm.get('region')?.touched || signUpForm.get('region')?.dirty)">
                {{ "sign-up.region.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Zip Code *  -->
          <!-- Latitude *  -->
          <!-- Longitude *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Zip Code *  -->
            <mat-form-field data-cy="zip-code-field">
              <mat-label>{{ "sign-up.zip-code.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'zipCode'" placeholder="{{ 'sign-up.zip-code.placeholder' | transloco }}" numericOnly puertoRicoZipCode data-cy="zip-code-input" />
              <mat-error *ngIf="signUpForm.get('zipCode')?.hasError('puertoRicoZipCode')">
                {{ signUpForm.get('zipCode')?.errors?.['puertoRicoZipCode']?.message }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('zipCode')?.hasError('required')">
                {{ "sign-up.zip-code.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Latitude *  -->
            <mat-form-field data-cy="latitude-field">
              <mat-label>{{ "sign-up.latitude.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'latitude'" latitude placeholder="{{ 'sign-up.latitude.placeholder' | transloco }}" data-cy="latitude-input" />
              <mat-error *ngIf="signUpForm.get('latitude')?.hasError('latitude') && (signUpForm.get('latitude')?.touched || signUpForm.get('latitude')?.dirty)">
                {{ signUpForm.get('latitude')?.errors?.['latitude']?.message }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('latitude')?.hasError('required') && (signUpForm.get('latitude')?.touched || signUpForm.get('latitude')?.dirty)">
                {{ "sign-up.latitude.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Longitude *  -->
            <div class="flex gap-2 items-center">
              <mat-form-field data-cy="longitude-field" class="flex-grow">
                <mat-label>{{ "sign-up.longitude.label" | transloco }}</mat-label>
                <input matInput [formControlName]="'longitude'" longitude placeholder="{{ 'sign-up.longitude.placeholder' | transloco }}" data-cy="longitude-input" />
                <mat-error *ngIf="signUpForm.get('longitude')?.hasError('longitude') && (signUpForm.get('longitude')?.touched || signUpForm.get('longitude')?.dirty)">
                  {{ signUpForm.get('longitude')?.errors?.['longitude']?.message }}
                </mat-error>
                <mat-error *ngIf="signUpForm.get('longitude')?.hasError('required') && (signUpForm.get('longitude')?.touched || signUpForm.get('longitude')?.dirty)">
                  {{ "sign-up.longitude.required" | transloco }}
                </mat-error>
              </mat-form-field>
              <button
                mat-icon-button
                type="button"
                class="mt-2"
                matTooltipPosition="above"
                matTooltip="{{ 'sign-up.gps-coordinates.tooltip' | transloco }}"
                (click)="window.open('https://www.gps-coordinates.net/', '_blank')"
                data-cy="gps-coordinates-button"
              >
                <mat-icon class="text-hint">language</mat-icon>
              </button>
            </div>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "sign-up.postal-address.label" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "sign-up.postal-address.description" | transloco }}</p>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 mb-4 -ml-2 sm:grid-cols-4">
            <mat-checkbox data-cy="same-as-physical-address-checkbox" [formControlName]="'sameAsPhysicalAddress'" (change)="onCheckboxChange($event)">{{
              "sign-up.same-as-physical-address.label" | transloco
            }}</mat-checkbox>
          </div>

          <!-- Postal Address *  -->
          <!-- City para Dirección Postal *  -->
          <!-- Region para Dirección Postal *  -->
          <!-- Postal Zip Code *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4">
            <!-- Postal Address *  -->
            <!-- cambiar texto a address unicamente -->
            <mat-form-field data-cy="postal-address-field">
              <mat-label>{{ "sign-up.postal-address.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'postalAddress'" placeholder="{{ 'sign-up.postal-address.placeholder' | transloco }}" data-cy="postal-address-input" />
              <mat-error *ngIf="signUpForm.get('postalAddress')?.hasError('required') && (signUpForm.get('postalAddress')?.touched || signUpForm.get('postalAddress')?.dirty)">
                {{ "sign-up.postal-address.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- City para Dirección Postal *  -->
            <mat-form-field data-cy="postal-city-field">
              <mat-label>{{ "sign-up.city.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'postalCity'" data-cy="postal-city-select" (valueChange)="getRegionsByCityId($event, 'postalRegion')">
                <mat-option *ngFor="let city of listCities" [value]="city" data-cy="postal-city-option">{{ city.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('postalCity')?.hasError('required') && (signUpForm.get('postalCity')?.touched || signUpForm.get('postalCity')?.dirty)">
                {{ "sign-up.city.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Region para Dirección Postal *  -->
            <mat-form-field data-cy="postal-region-field">
              <mat-label>{{ "sign-up.region.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'postalRegion'" data-cy="postal-region-select" [compareWith]="compare">
                <mat-option *ngFor="let region of listPostalRegions" [value]="region" data-cy="postal-region-option">{{ region.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('postalRegion')?.hasError('required') && (signUpForm.get('postalRegion')?.touched || signUpForm.get('postalRegion')?.dirty)">
                {{ "sign-up.region.required" | transloco }}
              </mat-error>
            </mat-form-field>

            <!-- Postal Zip Code *  -->
            <mat-form-field data-cy="postal-zip-code-field">
              <mat-label>{{ "sign-up.zip-code.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'postalZipCode'" placeholder="{{ 'sign-up.zip-code.placeholder' | transloco }}" numericOnly puertoRicoZipCode data-cy="postal-zip-code-input" />
              <mat-error *ngIf="signUpForm.get('postalZipCode')?.hasError('puertoRicoZipCode')">
                {{ signUpForm.get('postalZipCode')?.errors?.['puertoRicoZipCode']?.message }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('postalZipCode')?.hasError('required')">
                {{ "sign-up.zip-code.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
            <p class="text-lg font-medium">{{ "sign-up.user-information" | transloco }}</p>
            <p class="mb-6 text-secondary">{{ "sign-up.user-information-description" | transloco }}</p>
          </div>

          <!-- First Name *  -->
          <!-- Middle Name *  -->
          <!-- Father Last Name *  -->
          <!-- Mother Last Name *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4">
            <!-- First Name *  -->
            <mat-form-field data-cy="first-name-field">
              <mat-label>{{ "sign-up.first-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'firstName'" placeholder="{{ 'sign-up.first-name.placeholder' | transloco }}" data-cy="first-name-input" />
              <mat-error *ngIf="signUpForm.get('firstName')?.hasError('required') && (signUpForm.get('firstName')?.touched || signUpForm.get('firstName')?.dirty)">
                {{ "sign-up.first-name.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Middle Name *  -->
            <mat-form-field data-cy="middle-name-field">
              <mat-label>{{ "sign-up.middle-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'middleName'" placeholder="{{ 'sign-up.middle-name.placeholder' | transloco }}" data-cy="middle-name-input" />
            </mat-form-field>
            <!-- Father Last Name *  -->
            <mat-form-field data-cy="father-last-name-field">
              <mat-label>{{ "sign-up.father-last-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'fatherLastName'" placeholder="{{ 'sign-up.father-last-name.placeholder' | transloco }}" data-cy="father-last-name-input" />
              <mat-error *ngIf="signUpForm.get('fatherLastName')?.hasError('required') && (signUpForm.get('fatherLastName')?.touched || signUpForm.get('fatherLastName')?.dirty)">
                {{ "sign-up.father-last-name.required" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Mother Last Name *  -->
            <mat-form-field data-cy="mother-last-name-field">
              <mat-label>{{ "sign-up.mother-last-name.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'motherLastName'" placeholder="{{ 'sign-up.mother-last-name.placeholder' | transloco }}" data-cy="mother-last-name-input" />
            </mat-form-field>
          </div>

          <!-- Email *  -->
          <!-- Phone *  -->
          <!-- Admin Title *  -->
          <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3">
            <!-- Email *  -->
            <mat-form-field data-cy="email-field">
              <mat-label>{{ "sign-up.email.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'email'" placeholder="{{ 'sign-up.email.placeholder' | transloco }}" type="email" data-cy="email-input" />
              <mat-error *ngIf="signUpForm.get('email')?.hasError('required') && (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty)">
                {{ "sign-up.email.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('email')?.hasError('email') && (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty)">
                {{ "sign-up.email.invalid" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('email')?.hasError('emailExists')">
                {{ "sign-up.email.exists" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Phone *  -->
            <mat-form-field data-cy="phone-field">
              <mat-label>{{ "sign-up.phone.label" | transloco }}</mat-label>
              <input
                matInput
                [formControlName]="'phone'"
                placeholder="{{ 'sign-up.phone.placeholder' | transloco }}"
                phoneFormat
                data-cy="phone-input"
              />
              <mat-error *ngIf="signUpForm.get('phone')?.hasError('required') && (signUpForm.get('phone')?.touched || signUpForm.get('phone')?.dirty)">
                {{ "sign-up.phone.required" | transloco }}
              </mat-error>
              <mat-error *ngIf="signUpForm.get('phone')?.hasError('puertoRicoPhone') && (signUpForm.get('phone')?.touched || signUpForm.get('phone')?.dirty)">
                {{ "sign-up.phone.invalid" | transloco }}
              </mat-error>
            </mat-form-field>
            <!-- Admin Title *  -->
            <mat-form-field data-cy="admin-title-field">
              <mat-label>{{ "sign-up.admin-title.label" | transloco }}</mat-label>
              <mat-select [formControlName]="'positionId'" data-cy="admin-title-select">
                <mat-option *ngFor="let option of listAdministrativePositions" [value]="option.id" data-cy="admin-title-option">
                  {{ currentLang === "en" ? option.nameEN : option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="signUpForm.get('positionId')?.hasError('required') && (signUpForm.get('positionId')?.touched || signUpForm.get('positionId')?.dirty)">
                {{ "sign-up.admin-title.required" | transloco }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-end mt-2">
          <button
            class="w-full sm:w-auto fuse-mat-button-large"
            mat-flat-button
            [color]="'primary'"
            (click)="signUp()"
            [disabled]="!isEligible || signUpForm.invalid"
            data-cy="submit-button"
          >
            <span *ngIf="!signUpForm.disabled">{{ "sign-up.submit" | transloco }}</span>
            <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
