<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <div class="grid grid-cols-1 col-span-12 gap-4 py-5 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.sectionSubtitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.sectionDescription' | transloco }}</p>
        </div>
        <!-- Agency Name and IUE Number -->
        <div class="grid items-center grid-cols-1 col-span-12 gap-4 py-3 sm:grid-cols-2 sm:col-span-12">
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.entityName' | transloco }}</span>
            <span class="text-base font-medium text-gray-400">{{ agencyInfo.name }}</span>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.iueNumber' | transloco }}</span>
            <span class="text-base font-medium text-gray-400">{{ agencyInfo.uieNumber }}</span>
          </div>
        </div>

        <!-- Agency Address and City -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-3 sm:grid-cols-2 sm:col-span-12">
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.address' | transloco }}</span>
            <span class="text-base font-medium text-gray-400">{{ agencyInfo.address }}</span>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.name' | transloco }}</span>
            <span class="text-base font-bold text-gray-400"
              >{{ agencyInfo.user.firstName }} {{ agencyInfo.user.middleName }} {{ agencyInfo.user.fatherLastName }} {{ agencyInfo.user.motherLastName }}</span
            >
          </div>
        </div>

        <!-- Agency City and Admin Title -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-3 sm:grid-cols-2 sm:col-span-12">
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.city' | transloco }}</span>
            <span class="text-base font-bold text-gray-400">{{ agencyInfo.city }}</span>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.region' | transloco }}</span>
            <span class="text-base font-bold text-gray-400">{{ agencyInfo.region }}</span>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 py-3 sm:grid-cols-2 sm:col-span-12">
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.adminTitle' | transloco }}</span>
            <span class="text-base font-bold text-gray-400">{{ agencyInfo.adminTitle }}</span>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.phone' | transloco }}</span>
            <span class="text-base font-bold text-gray-400">{{ agencyInfo.phone }}</span>
          </div>
        </div>

        <!-- Agency Zip Code and Program -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-3 sm:grid-cols-2 sm:col-span-12">
          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.zipCode' | transloco }}</span>
            <span class="text-base font-medium text-gray-400">{{ agencyInfo.zipCode }}</span>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <span class="text-lg font-medium">{{ 'program-requests.add.programToParticipate' | transloco }}</span>
            <span class="text-base font-medium text-gray-400">{{ agencyInfo.program }}</span>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.sectionSubtitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.sectionDescription' | transloco }}</p>
        </div>

        <!-- Entity and Schools -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <!-- Entity * -->
          <mat-form-field data-cy="entity-field">
            <mat-label>{{ 'program-requests.add.entityPublicOrPrivate' | transloco }}</mat-label>
            <mat-select formControlName="entity" data-cy="entity-select">
              <mat-option *ngFor="let entity of listEntities" [value]="entity">{{ entity.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Numeros de escuelas * -->
          <mat-form-field data-cy="schools-field">
            <mat-label>{{ 'program-requests.add.numberOfSchools' | transloco }}</mat-label>
            <input matInput type="number" formControlName="schools" min="1" max="100" [placeholder]="'program-requests.add.numberOfSchools' | transloco" />
          </mat-form-field>
        </div>

        <!-- Tax Exemption Type and Status -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <!-- Tax Exemption Type * -->
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="tax-exemption-type-field">
              <mat-label>{{ 'program-requests.add.taxExemptionRequirement' | transloco }}</mat-label>
              <mat-select formControlName="taxExemptionType" data-cy="tax-exemption-type-select">
                <mat-option *ngFor="let taxExemptionType of listTaxExemptionTypes" [value]="taxExemptionType">{{ taxExemptionType.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Tax Exemption Status * -->
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="tax-exemption-status-field">
              <mat-label>{{ 'program-requests.add.taxExemptionStatus' | transloco }}</mat-label>
              <mat-select formControlName="taxExemptionStatus" data-cy="tax-exemption-status-select">
                <mat-option *ngFor="let exemptionStatus of listExemptionStatus" [value]="exemptionStatus">{{ exemptionStatus.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Basic Education Certification and AEA Designed Menu -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <div class="flex items-center">
              <mat-form-field data-cy="basic-education-certification-field" class="flex-grow">
                <mat-label>{{ 'program-requests.add.authorityToParticipate' | transloco }}</mat-label>
                <mat-select formControlName="basicEducationCertification" data-cy="basic-education-certification-select">
                  <mat-option *ngFor="let basicEducationCertification of listBasicEducationCertifications" [value]="basicEducationCertification">{{
                    basicEducationCertification.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container *ngIf="headerConfig.formGroup.get('basicEducationCertification').value">
                <button
                  *ngIf="headerConfig.formGroup.get('basicEducationCertification').value.id === 1"
                  class="ml-2"
                  mat-icon-button
                  [matTooltip]="'program-requests.add.tooltipAea' | transloco"
                  matTooltipPosition="right"
                  [attr.aria-label]="'program-requests.add.infoAriaLabel' | transloco"
                >
                  <mat-icon>info</mat-icon>
                </button>
                <button
                  *ngIf="headerConfig.formGroup.get('basicEducationCertification').value.id !== 1"
                  class="ml-2"
                  mat-icon-button
                  [matTooltip]="'program-requests.add.tooltipDe' | transloco"
                  matTooltipPosition="right"
                  [attr.aria-label]="'program-requests.add.infoAriaLabel' | transloco"
                >
                  <mat-icon>info</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="functioning-policy-field">
              <mat-label>{{ 'program-requests.add.functioningPolicy' | transloco }}</mat-label>
              <mat-select formControlName="functioningPolicy" data-cy="functioning-policy-select">
                <mat-option *ngFor="let functioningPolicy of listFunctioningPolicies" [value]="functioningPolicy">{{ functioningPolicy.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Subtitulo de la seccion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.civilRightsTitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.civilRightsDescription' | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="civil-rights-survey-field">
              <mat-label>{{ 'program-requests.add.civilRightsSurveyCertify' | transloco }}</mat-label>
              <mat-select formControlName="civilRightsSurveyCompleted" data-cy="civil-rights-survey-select">
                <mat-option *ngFor="let civilRightsSurvey of listOfCivilRightsSurvey" [value]="civilRightsSurvey">{{ civilRightsSurvey.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="informative-material-field">
              <mat-label>{{ 'program-requests.add.informativeMaterialOtherLanguages' | transloco }}</mat-label>
              <mat-select formControlName="informativeMaterialNeeded" data-cy="informative-material-select">
                <mat-option *ngFor="let informativeMaterial of listOfInformativeMaterial" [value]="informativeMaterial">{{ informativeMaterial.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="informative-material-language-field">
              <mat-label>{{ 'program-requests.add.languages' | transloco }}</mat-label>
              <input
                matInput
                type="text"
                formControlName="informativeMaterialLanguage"
                [placeholder]="'program-requests.add.language' | transloco"
                [disabled]="!headerConfig.formGroup.get('informativeMaterialNeeded').value"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="informative-material-field">
              <mat-label>{{ 'program-requests.add.interpretersNeeded' | transloco }}</mat-label>
              <mat-select formControlName="interpretersNeeded" data-cy="interpreters-needed-select">
                <mat-option *ngFor="let interpretersNeeded of listOfAlternativeCommunicationMedia" [value]="interpretersNeeded">{{ interpretersNeeded.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="informative-material-language-field">
              <mat-label>{{ 'program-requests.add.languages' | transloco }}</mat-label>
              <input matInput type="text" formControlName="interpretersLanguage" [placeholder]="'program-requests.add.language' | transloco" [disabled]="!headerConfig.formGroup.get('interpretersNeeded').value" />
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <!-- Medio Alternativo -->
            <mat-form-field data-cy="alternative-communication-media-field">
              <mat-label [matTooltip]="'program-requests.add.alternativeMediaLabel' | transloco">{{ 'program-requests.add.alternativeMediaLabel' | transloco }}</mat-label>
              <mat-select formControlName="alternativeCommunicationMedia" data-cy="alternative-communication-media-select">
                <mat-option *ngFor="let alternativeCommunicationMedia of listOfAlternativeCommunicationMedia" [value]="alternativeCommunicationMedia">{{
                  alternativeCommunicationMedia.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="alternative-communication-media-type-field">
              <mat-label>{{ 'program-requests.add.alternativeMediaType' | transloco }}</mat-label>
              <mat-select multiple formControlName="alternativeCommunicationMediaType" [disabled]="!headerConfig.formGroup.get('alternativeCommunicationMedia').value">
                <mat-option *ngFor="let type of listOfAlternativeCommunicationMediaTypes" [value]="type">{{ type.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Subtitulo de la seccion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.sitesOrganizationTitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.sectionDescription' | transloco }}</p>
        </div>

        <!-- Tabla con lsita de escuelas -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-10">
          <app-generic-table [config]="tableConfig" [handler]="this" #schoolsTable></app-generic-table>
        </div>

        <!-- Subtitulo de la seccion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.snackTitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.snackEligibilityDescription' | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-10">
          <mat-form-field data-cy="free-percentage-field">
            <mat-label>{{ 'program-requests.add.percentFree' | transloco }}</mat-label>
            <input matInput type="number" formControlName="freePercentage" [placeholder]="'program-requests.add.percentFree' | transloco" />
          </mat-form-field>

          <mat-form-field data-cy="free-percentage-field">
            <mat-label>{{ 'program-requests.add.percentReduced' | transloco }}</mat-label>
            <input matInput type="number" formControlName="reducedPercentage" [placeholder]="'program-requests.add.percentReduced' | transloco" />
          </mat-form-field>

          <mat-form-field data-cy="sub-total-percentage-field">
            <mat-label>{{ 'program-requests.add.percentSubTotal' | transloco }}</mat-label>
            <input matInput type="number" formControlName="subTotalPercentage" [placeholder]="'program-requests.add.percentSubTotal' | transloco" />
          </mat-form-field>

          <mat-form-field data-cy="paid-percentage-field">
            <mat-label>{{ 'program-requests.add.percentPaid' | transloco }}</mat-label>
            <input matInput type="number" formControlName="paidPercentage" [placeholder]="'program-requests.add.percentPaid' | transloco" />
          </mat-form-field>
        </div>

        <!-- Subtitulo de la seccion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.documentsTitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.documentsDescription' | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-2">
            <mat-form-field data-cy="document-type-field">
              <mat-label>{{ 'program-requests.add.documentsLabel' | transloco }}</mat-label>
              <mat-select multiple formControlName="documentType">
                <mat-option *ngFor="let type of listOfDocumentTypes" [value]="type">{{ type.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Subtitulo de la seccion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ 'program-requests.add.notificationTitle' | transloco }}</p>
          <p class="mb-6 text-secondary">{{ 'program-requests.add.notificationOmbDescription' | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-10">
          <div class="grid grid-cols-1 gap-4">
            <mat-checkbox data-cy="checkbox1-field">{{ 'program-requests.add.checkbox750kOrMore' | transloco }}</mat-checkbox>
            <mat-checkbox data-cy="checkbox2-field">{{ 'program-requests.add.checkbox749kOrLess' | transloco }}</mat-checkbox>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 py-7 sm:grid-cols-1">
          <p class="mb-6 text-secondary">{{ 'program-requests.add.certifyReceived' | transloco }}</p>
        </div>

        <!-- Tabla con lista de funetes de ingresos -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-10">
          <app-generic-table [config]="tableConfigIncomeSources" [handler]="this" #incomeSourcesTable></app-generic-table>
        </div>
      </div>
    </form>
  </div>
</div>
