<div class="flex absolute inset-0 flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="overflow-y-auto flex-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup" #schoolsEditForm="ngForm" data-cy="schools-edit-form">
      <!-- Si la escuela actual es la principal, mostrar un mensaje de que es la principal -->
      <div *ngIf="isMainSchool" class="grid grid-cols-1 col-span-12 gap-4 mb-2 sm:grid-cols-1 sm:col-span-8">
        <div class="mb-2">
          <div class="flex items-center p-3 text-green-800 bg-green-50 rounded-md">
            <mat-icon class="mr-2 text-green-500">check_circle</mat-icon>
            <span>{{ "schools.edit.main-school.is-main-school" | transloco }}</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Sponsor Information Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.information" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.information-description" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- name -->
          <mat-form-field data-cy="name-field">
            <mat-label>{{ "schools.edit.name.label" | transloco }}</mat-label>
            <input matInput formControlName="name" required placeholder="{{ 'schools.edit.name.placeholder' | transloco }}" />
            <mat-error *ngIf="headerConfig.formGroup.get('name').hasError('required')">{{ "schools.edit.name.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Desactivar/Activar -->
          <mat-form-field data-cy="is-active-field">
            <mat-label>{{ "schools.edit.is-active.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'isActive'" data-cy="is-active-select" (valueChange)="onIsActiveChange($event)" [compareWith]="compareById">
              <mat-option *ngFor="let option of isActive" [value]="option.booleanValue" data-cy="is-active-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Fecha de inactivación -->
          <mat-form-field data-cy="inactive-date-field" >
            <mat-label>{{ "schools.edit.inactive-date.label" | transloco }}</mat-label>
            <input
              matInput
              [formControlName]="'inactiveDate'"
              placeholder="{{ 'schools.edit.inactive-date.placeholder' | transloco }}"
              [matDatepicker]="pickerInactiveDate"
              data-cy="inactive-date-input"
            />
            <mat-datepicker-toggle matIconSuffix [for]="pickerInactiveDate" />
            <mat-datepicker #pickerInactiveDate />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <!--fecha de inactivacion -->
          <mat-form-field data-cy="inactive-justification-field">
            <mat-label>{{ "schools.edit.inactive-justification.label" | transloco }}</mat-label>
            <textarea
              matInput
              [formControlName]="'inactiveJustification'"
              placeholder="{{ 'schools.edit.inactive-justification.placeholder' | transloco }}"
              data-cy="inactive-justification-input"
              rows="3"
            ></textarea>
            <mat-error *ngIf="headerConfig.formGroup.get('inactiveJustification').hasError('required')">{{ "schools.edit.inactive-justification.required" | transloco }}</mat-error>
          </mat-form-field>
        </div>

        <!-- Seleccionar escuela principal -->
        <div *ngIf="!isMainSchool" class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.main-school.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.main-school.description" | transloco }}</p>
        </div>

        <!-- Mostramos la lista de escuelas Para seleccionar la escuela principal -->
        <div *ngIf="!isMainSchool" class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <div class="flex gap-2 justify-center items-center">
            <mat-form-field class="w-full" data-cy="main-school-field" [subscriptSizing]="'dynamic'">
              <mat-select [formControlName]="'mainSchool'" data-cy="main-school-select" [compareWith]="compareById">
                <mat-option *ngFor="let school of listSchools" [value]="school" data-cy="main-school-option">{{ school.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="headerConfig.formGroup.get('mainSchool').hasError('required')">{{ "schools.edit.main-school.required" | transloco }}</mat-error>
            </mat-form-field>
            <button
              mat-icon-button
              type="button"
              (click)="onClearMainSchool()"
              matTooltip="{{ 'schools.edit.main-school.clear' | transloco }}"
              data-cy="clear-main-school-button"
              aria-label="Limpiar selección de escuela principal"
            >
              <mat-icon class="icon-size-5" svgIcon="mat_outline:clear"></mat-icon>
            </button>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <p class="text-lg font-medium">{{ "schools.edit.address.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.address.description" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Address *  -->
          <mat-form-field data-cy="address-field">
            <mat-label>{{ "schools.edit.address.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'address'" placeholder="{{ 'schools.edit.address.placeholder' | transloco }}" data-cy="address-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('address').hasError('required')">{{ "schools.edit.address.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- City para Dirección Física *  -->
          <mat-form-field data-cy="city-field">
            <mat-label>{{ "schools.edit.city.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'city'" (valueChange)="getRegionsByCityId($event, 'region')" data-cy="city-select" [compareWith]="compareById">
              <mat-option *ngFor="let city of listCities" [value]="city" data-cy="city-option">
                {{ city.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('city').hasError('required')">{{ "schools.edit.city.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Region *  -->
          <mat-form-field data-cy="region-field">
            <mat-label>{{ "schools.edit.region.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'region'" data-cy="region-select" [compareWith]="compareById">
              <mat-option *ngFor="let region of listRegions" [value]="region" data-cy="region-option">{{ region.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('region').hasError('required')">{{ "schools.edit.region.required" | transloco }}</mat-error>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Zip Code *  -->
          <mat-form-field data-cy="zip-code-field">
            <mat-label>{{ "schools.edit.zip-code.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'zipCode'" placeholder="{{ 'schools.edit.zip-code.placeholder' | transloco }}" numericOnly data-cy="zip-code-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('zipCode').hasError('required')">{{ "schools.edit.zip-code.required" | transloco }}</mat-error>
          </mat-form-field>
          <!-- Latitude *  -->
          <mat-form-field data-cy="latitude-field">
            <mat-label>{{ "schools.edit.latitude.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'latitude'" placeholder="{{ 'schools.edit.latitude.placeholder' | transloco }}" data-cy="latitude-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('latitude').hasError('required')">{{ "schools.edit.latitude.required" | transloco }}</mat-error>
          </mat-form-field>
          <!-- Longitude *  -->
          <div class="flex gap-2 items-center">
            <mat-form-field data-cy="longitude-field" class="flex-grow">
              <mat-label>{{ "schools.edit.longitude.label" | transloco }}</mat-label>
              <input matInput [formControlName]="'longitude'" placeholder="{{ 'schools.edit.longitude.placeholder' | transloco }}" data-cy="longitude-input" />
              <mat-error *ngIf="headerConfig.formGroup.get('longitude').hasError('required')">{{ "schools.edit.longitude.required" | transloco }}</mat-error>
            </mat-form-field>
            <button
              mat-icon-button
              type="button"
              class="mt-2"
              matTooltipPosition="above"
              matTooltip="{{ 'schools.edit.gps-coordinates.tooltip' | transloco }}"
              (click)="window.open('https://www.gps-coordinates.net/', '_blank')"
              data-cy="gps-coordinates-button"
            >
              <mat-icon class="text-hint">info</mat-icon>
            </button>
          </div>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.postal-address.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.postal-address.description" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 mb-4 -ml-2 sm:grid-cols-4 sm:col-span-8">
          <mat-checkbox data-cy="same-as-physical-address-checkbox" [formControlName]="'sameAsPhysicalAddress'" (change)="onCheckboxChange($event)">{{
            "schools.edit.same-as-physical-address.label" | transloco
          }}</mat-checkbox>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-8">
          <!-- Postal Address *  -->
          <mat-form-field data-cy="postal-address-field">
            <mat-label>{{ "schools.edit.postal-address.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'postalAddress'" placeholder="{{ 'schools.edit.postal-address.placeholder' | transloco }}" data-cy="postal-address-input" />
          </mat-form-field>
          <!-- City para Dirección Postal *  -->
          <mat-form-field data-cy="postal-city-field">
            <mat-label>{{ "schools.edit.city.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'postalCity'" data-cy="postal-city-select" (valueChange)="getRegionsByCityId($event, 'postalRegion')" [compareWith]="compareById">
              <mat-option *ngFor="let city of listCities" [value]="city" data-cy="postal-city-option">{{ city.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('postalCity').hasError('required')">{{ "schools.edit.city.required" | transloco }}</mat-error>
          </mat-form-field>
          <!-- Region para Dirección Postal *  -->
          <mat-form-field data-cy="postal-region-field">
            <mat-label>{{ "schools.edit.region.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'postalRegion'" data-cy="postal-region-select" [compareWith]="compareById">
              <mat-option *ngFor="let region of listPostalRegions" [value]="region" data-cy="postal-region-option">{{ region.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('postalRegion').hasError('required')">{{ "schools.edit.region.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Postal Zip Code *  -->
          <mat-form-field data-cy="postal-zip-code-field">
            <mat-label>{{ "schools.edit.zip-code.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'postalZipCode'" placeholder="{{ 'schools.edit.zip-code.placeholder' | transloco }}" numericOnly data-cy="postal-zip-code-input" />
          </mat-form-field>
        </div>

        <!-- Información Administrativa -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.administrative-information.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.administrative-information.description" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <!-- ¿Es una organización sin fines de lucro? -->
          <mat-form-field data-cy="non-profit-field">
            <mat-label>{{ "schools.edit.non-profit.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'nonProfit'" data-cy="non-profit-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="non-profit-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('nonProfit').hasError('required')">{{ "schools.edit.non-profit.required" | transloco }}</mat-error>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Fecha de Inicio -->
          <mat-form-field data-cy="start-date-field">
            <mat-label>{{ "schools.edit.start-date.label" | transloco }}</mat-label>
            <input
              matInput
              [formControlName]="'startDate'"
              [matDatepicker]="startDatePicker"
              placeholder="{{ 'schools.edit.start-date.placeholder' | transloco }}"
              data-cy="start-date-input"
            />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <!-- Año base -->
          <mat-form-field data-cy="base-year-field">
            <mat-label>{{ "schools.edit.base-year.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'baseYear'" placeholder="{{ 'schools.edit.base-year.placeholder' | transloco }}" data-cy="base-year-input" />
          </mat-form-field>

          <!-- Año de renovación -->
          <mat-form-field data-cy="renewal-year-field">
            <mat-label>{{ "schools.edit.renewal-year.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'renewalYear'" placeholder="{{ 'schools.edit.renewal-year.placeholder' | transloco }}" data-cy="renewal-year-input" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Tipo de organización -->
          <mat-form-field data-cy="organization-type-field">
            <mat-label>{{ "schools.edit.organization-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'organizationType'" data-cy="organization-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of organizationTypes" [value]="option" data-cy="organization-type-option">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('organizationType').hasError('required')">{{ "schools.edit.organization-type.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Centro -->
          <mat-form-field data-cy="center-field">
            <mat-label>{{ "schools.edit.center.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'centerType'" data-cy="center-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of centerTypes" [value]="option" data-cy="center-option">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('centerType').hasError('required')">{{ "schools.edit.center.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Niveles educativos (selección múltiple) -->
          <mat-form-field data-cy="education-levels-field">
            <mat-label>{{ "schools.edit.education-levels.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'educationLevels'" data-cy="education-levels-select" [compareWith]="compareById" multiple>
              <mat-option *ngFor="let option of educationLevels" [value]="option" data-cy="education-level-option">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('educationLevels').hasError('required')">{{ "schools.edit.education-levels.required" | transloco }}</mat-error>
          </mat-form-field>

          <!-- Días de funcionamiento=Esto entiendo que aplica solo para PSAV, pero te valido -->
          <mat-form-field data-cy="operating-days-field">
            <mat-label>{{ "schools.edit.operating-days.label" | transloco }}</mat-label>
            <input
              matInput
              type="number"
              min="0"
              [formControlName]="'operatingDays'"
              placeholder="{{ 'schools.edit.operating-days.placeholder' | transloco }}"
              data-cy="operating-days-input"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <!-- Datos Operacionales -->
          <p class="text-lg font-medium">{{ "schools.edit.operational-information.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.operational-information.description" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Tipo de cocina -->
          <mat-form-field data-cy="kitchen-type-field">
            <mat-label>{{ "schools.edit.kitchen-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'kitchenType'" data-cy="kitchen-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of kitchenTypes" [value]="option" data-cy="kitchen-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de grupo=Requerido -->
          <mat-form-field data-cy="group-type-field">
            <mat-label>{{ "schools.edit.group-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'groupType'" data-cy="group-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of groupTypes" [value]="option" data-cy="group-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de entrega -->
          <mat-form-field data-cy="delivery-type-field">
            <mat-label>{{ "schools.edit.delivery-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'deliveryType'" data-cy="delivery-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of deliveryTypes" [value]="option" data-cy="delivery-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Tipo de auspiciador -->
        <!-- Tipo de solicitante -->
        <!-- Tipo de Institución Infantil Residencial (RCCI)= Pernoctan o No Pernoctan=Requerido -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Tipo de auspiciador -->
          <mat-form-field data-cy="sponsor-type-field">
            <mat-label>{{ "schools.edit.sponsor-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'sponsorType'" data-cy="sponsor-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of sponsorType" [value]="option" data-cy="sponsor-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de solicitante -->
          <mat-form-field data-cy="applicant-type-field">
            <mat-label>{{ "schools.edit.applicant-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'typeOfApplicant'" data-cy="applicant-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of typeOfApplicant" [value]="option" data-cy="applicant-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de Institución Infantil Residencial (RCCI)= Pernoctan o No Pernoctan=Requerido -->
          <mat-form-field data-cy="residential-type-field">
            <mat-label>{{ "schools.edit.residential-type.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'typeOfResidential'" data-cy="residential-type-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of typeOfResidential" [value]="option" data-cy="residential-type-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Política de funcionamiento= Esto se contestará luego de completar el módulo de elegibilidad -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <mat-form-field data-cy="operating-policy-field">
            <mat-label>{{ "schools.edit.operating-policy.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'operatingPolicy'" data-cy="operating-policy-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of operatingPolicies" [value]="option" data-cy="operating-policy-option">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- ¿Cuenta con un Almacén?= Es una respuesta de si o no. -->
        <!-- ¿Cuenta con un Salón Comedor?= Es una respuesta de si o no. -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- ¿Cuenta con un Almacén?= Es una respuesta de si o no. -->
          <mat-form-field data-cy="has-warehouse-field">
            <mat-label>{{ "schools.edit.has-warehouse.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'hasWarehouse'" data-cy="has-warehouse-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="has-warehouse-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- ¿Cuenta con un Salón Comedor?= Es una respuesta de si o no. -->
          <mat-form-field data-cy="has-dining-room-field">
            <mat-label>{{ "schools.edit.has-dining-room.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'hasDiningRoom'" data-cy="has-dining-room-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="has-dining-room-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Administrador/Representante Autorizado -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.administrator-authorized.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.administrator-authorized.description" | transloco }}</p>
        </div>

        <!-- Nombre Completo del Administrador o Representante -->
        <!-- Teléfono del Sitio -->
        <!-- Extensión -->
        <!-- Teléfono Móvil -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Nombre Completo del Administrador o Representante -->
          <mat-form-field data-cy="administrator-authorized-name-field">
            <mat-label>{{ "schools.edit.administrator-authorized-name.label" | transloco }}</mat-label>
            <input
              matInput
              [formControlName]="'administratorAuthorizedName'"
              placeholder="{{ 'schools.edit.administrator-authorized-name.placeholder' | transloco }}"
              data-cy="administrator-authorized-name-input"
            />
          </mat-form-field>
          <!-- Teléfono del Sitio -->
          <mat-form-field data-cy="site-phone-field">
            <mat-label>{{ "schools.edit.site-phone.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'sitePhone'" placeholder="{{ 'schools.edit.site-phone.placeholder' | transloco }}" data-cy="site-phone-input" />
          </mat-form-field>
          <!-- Extensión -->
          <mat-form-field data-cy="extension-field">
            <mat-label>{{ "schools.edit.extension.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'extension'" placeholder="{{ 'schools.edit.extension.placeholder' | transloco }}" data-cy="extension-input" />
          </mat-form-field>
          <!-- Teléfono Móvil -->
          <mat-form-field data-cy="mobile-phone-field">
            <mat-label>{{ "schools.edit.mobile-phone.label" | transloco }}</mat-label>
            <input matInput [formControlName]="'mobilePhone'" placeholder="{{ 'schools.edit.mobile-phone.placeholder' | transloco }}" data-cy="mobile-phone-input" />
          </mat-form-field>
        </div>

        <!-- Servicios que operará y horario -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "schools.edit.services-and-schedule.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.services-and-schedule.description" | transloco }}</p>
        </div>

        <!-- Desayuno (si, no) -->
        <!-- Horario desde para el desayuno -->
        <!-- Horario hasta para el desayuno -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Desayuno (si, no) -->
          <mat-form-field data-cy="breakfast-field">
            <mat-label>{{ "schools.edit.breakfast.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'breakfast'" data-cy="breakfast-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="breakfast-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Horario desde para el desayuno -->
          <mat-form-field data-cy="breakfast-schedule-field">
            <mat-label>{{ "schools.edit.breakfast-from.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.breakfast-from.placeholder' | transloco }}"
              formControlName="breakfastFrom"
              [matTimepicker]="pickerBreakfastFrom"
              data-cy="breakfast-from-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerBreakfastFrom" />
            <mat-timepicker #pickerBreakfastFrom />
          </mat-form-field>

          <!-- Horario hasta para el desayuno -->
          <mat-form-field data-cy="breakfast-schedule-field">
            <mat-label>{{ "schools.edit.breakfast-to.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.breakfast-to.placeholder' | transloco }}"
              formControlName="breakfastTo"
              [matTimepicker]="pickerBreakfastTo"
              data-cy="breakfast-to-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerBreakfastTo" />
            <mat-timepicker #pickerBreakfastTo />
          </mat-form-field>
        </div>

        <!-- Almuerzo (si, no) -->
        <!-- Horario desde para el almuerzo -->
        <!-- Horario hasta para el almuerzo -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Almuerzo (si, no) -->
          <mat-form-field data-cy="lunch-field">
            <mat-label>{{ "schools.edit.lunch.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'lunch'" data-cy="lunch-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="lunch-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Horario desde para el almuerzo -->
          <mat-form-field data-cy="lunch-schedule-field">
            <mat-label>{{ "schools.edit.lunch-from.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.lunch-from.placeholder' | transloco }}"
              formControlName="lunchFrom"
              [matTimepicker]="pickerLunchFrom"
              data-cy="lunch-from-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerLunchFrom" />
            <mat-timepicker #pickerLunchFrom />
          </mat-form-field>

          <!-- Horario hasta para el almuerzo -->
          <mat-form-field data-cy="lunch-schedule-field">
            <mat-label>{{ "schools.edit.lunch-to.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.lunch-to.placeholder' | transloco }}"
              formControlName="lunchTo"
              [matTimepicker]="pickerLunchTo"
              data-cy="lunch-to-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerLunchTo" />
            <mat-timepicker #pickerLunchTo />
          </mat-form-field>
        </div>

        <!-- Merienda (si, no) -->
        <!-- Horario desde para la merienda -->
        <!-- Horario hasta para la merienda -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-3 sm:col-span-8">
          <!-- Merienda (si, no) -->
          <mat-form-field data-cy="snack-field">
            <mat-label>{{ "schools.edit.snack.label" | transloco }}</mat-label>
            <mat-select [formControlName]="'snack'" data-cy="snack-select" [compareWith]="compareById">
              <mat-option *ngFor="let option of yesNoOptions" [value]="option.booleanValue" data-cy="snack-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Horario desde para la merienda -->
          <mat-form-field data-cy="snack-from-field">
            <mat-label>{{ "schools.edit.snack-from.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.snack-from.placeholder' | transloco }}"
              formControlName="snackFrom"
              [matTimepicker]="pickerSnackFrom"
              data-cy="snack-from-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerSnackFrom" />
            <mat-timepicker #pickerSnackFrom />
          </mat-form-field>

          <!-- Horario hasta para la merienda -->
          <mat-form-field data-cy="snack-to-field">
            <mat-label>{{ "schools.edit.snack-to.label" | transloco }}</mat-label>
            <input
              matInput
              placeholder="{{ 'schools.edit.snack-to.placeholder' | transloco }}"
              formControlName="snackTo"
              [matTimepicker]="pickerSnackTo"
              data-cy="snack-to-input"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerSnackTo" />
            <mat-timepicker #pickerSnackTo />
          </mat-form-field>
        </div>

        <!-- Satélites -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1" *ngIf="satellitesTableConfig.dataSource.data.length > 0">
          <p class="text-lg font-medium">{{ "schools.edit.satellites.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "schools.edit.satellites.description" | transloco }}</p>
        </div>

        <div
          class="grid grid-cols-1 col-span-12 gap-4 mb-4 rounded-lg border border-gray-200 sm:grid-cols-1 sm:col-span-8"
          *ngIf="satellitesTableConfig.dataSource.data.length > 0"
        >
          <app-generic-table [config]="satellitesTableConfig" [handler]="this" #satellitesTable></app-generic-table>
        </div>
      </div>
    </form>
  </div>
</div>
