<div class="absolute inset-0 flex flex-col h-full min-w-0 overflow-hidden">
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>
  <div class="flex-auto max-h-screen overflow-y-auto" cdkScrollable>
    <app-generic-table [config]="tableConfig" [handler]="this"></app-generic-table>
  </div>
  <mat-paginator
    class="hidden sm:block"
    [pageSizeOptions]="tableConfig.pageSizeOptions"
    [pageSize]="tableConfig.pageSize"
    [length]="tableConfig.length"
    (page)="getPaginator($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
