<div class="flex absolute inset-0 flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="overflow-y-auto flex-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup" #staffAddForm="ngForm" data-cy="staff-add-form">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Información General -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.add.information" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.add.information-description" | transloco }}
          </p>
        </div>
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <!-- Staff Type -->
          <mat-form-field data-cy="staffType-field">
            <mat-label>{{ "staff.add.staffType.label" | transloco }}</mat-label>
            <mat-select formControlName="staffType" [placeholder]="'staff.add.staffType.placeholder' | transloco" [compareWith]="compareById" data-cy="staffType-select">
              <mat-option *ngFor="let staffType of listStaffTypes" [value]="staffType" data-cy="staffType-option">
                {{ currentLang === "es" ? staffType.name : staffType.nameEn }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('staffType')?.hasError('required')">
              {{ "staff.add.staffType.required" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Clasificación de Staff (solo para empleados) -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8" *ngIf="isEmployee">
          <mat-form-field data-cy="staff-classification-field">
            <mat-label>{{ "staff.add.staffClassification.label" | transloco }}</mat-label>
            <mat-select
              formControlName="staffClassification"
              [placeholder]="'staff.add.staffClassification.placeholder' | transloco"
              [compareWith]="compareById"
              data-cy="staff-classification-select"
            >
              <mat-option *ngFor="let classification of listStaffClassifications" [value]="classification" data-cy="staff-classification-option">
                {{ currentLang === "es" ? classification.name : classification.nameEn }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('staffClassification')?.hasError('required')">
              {{ "staff.add.staffClassification.required" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campos de Nombre -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-8">
          <!-- First Name -->
          <mat-form-field class="w-full" data-cy="firstName-field">
            <mat-label>{{ "staff.add.firstName.label" | transloco }}</mat-label>
            <input matInput formControlName="firstName" [placeholder]="'staff.add.firstName.placeholder' | transloco" data-cy="firstName-input" required />
            <mat-error *ngIf="headerConfig.formGroup.get('firstName')?.hasError('required')">
              {{ "staff.add.firstName.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Middle Name -->
          <mat-form-field class="w-full" data-cy="middleName-field">
            <mat-label>{{ "staff.add.middleName.label" | transloco }}</mat-label>
            <input matInput formControlName="middleName" [placeholder]="'staff.add.middleName.placeholder' | transloco" data-cy="middleName-input" />
          </mat-form-field>

          <!-- Father's Last Name -->
          <mat-form-field class="w-full" data-cy="fatherLastName-field">
            <mat-label>{{ "staff.add.fatherLastName.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="fatherLastName"
              [placeholder]="'staff.add.fatherLastName.placeholder' | transloco"
              data-cy="fatherLastName-input"
              required
            />
            <mat-error *ngIf="headerConfig.formGroup.get('fatherLastName')?.hasError('required')">
              {{ "staff.add.fatherLastName.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Mother's Last Name -->
          <mat-form-field class="w-full" data-cy="motherLastName-field">
            <mat-label>{{ "staff.add.motherLastName.label" | transloco }}</mat-label>
            <input matInput formControlName="motherLastName" [placeholder]="'staff.add.motherLastName.placeholder' | transloco" data-cy="motherLastName-input" />
          </mat-form-field>
        </div>

        <!-- Campos de Estado, Cargo y Tipo de Staff -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Status -->
          <mat-form-field data-cy="status-field">
            <mat-label>{{ "staff.add.status.label" | transloco }}</mat-label>
            <mat-select formControlName="status" [placeholder]="'staff.add.status.placeholder' | transloco" [compareWith]="compareById" data-cy="status-select">
              <mat-option *ngFor="let status of listStatus" [value]="status" data-cy="status-option">
                {{ currentLang === 'es' ? status.name : status.nameEN }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('status')?.hasError('required')">
              {{ "staff.add.status.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Position -->
          <mat-form-field data-cy="position-field">
            <mat-label>{{ "staff.add.position.label" | transloco }}</mat-label>
            <mat-select formControlName="position" [placeholder]="'staff.add.position.placeholder' | transloco" [compareWith]="compareById" data-cy="position-select">
              <mat-option *ngFor="let position of listPositions" [value]="position" data-cy="position-option">
                {{ currentLang === 'es' ? position.name : position.nameEN }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('position')?.hasError('required')">
              {{ "staff.add.position.required" | transloco }}
            </mat-error>
            <mat-hint *ngIf="isEmployee && listPositions.length === 0">
              {{ "staff.add.position.selectClassificationFirst" | transloco }}
            </mat-hint>
          </mat-form-field>
        </div>

        <!-- Campos de Fecha de Nacimiento y Email -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Birth Date (solo para miembros de junta) -->
          <mat-form-field data-cy="birth-date-field" *ngIf="isBoardMember">
            <mat-label>{{ "staff.add.birthDate.label" | transloco }}</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate" [placeholder]="'staff.add.birthDate.placeholder' | transloco" data-cy="birthDate-input" />
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
            <mat-error *ngIf="headerConfig.formGroup.get('birthDate')?.hasError('required')">
              {{ "staff.add.birthDate.required" | transloco }}
            </mat-error>
            <mat-error *ngIf="headerConfig.formGroup.get('birthDate')?.hasError('minimumAge')">
              {{ "staff.add.birthDate.minimumAge" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field data-cy="email-field" [class.sm:col-span-2]="!isBoardMember" *ngIf="!isEmployee">
            <mat-label>{{ "staff.add.email.label" | transloco }}</mat-label>
            <input matInput formControlName="email" type="email" [placeholder]="'staff.add.email.placeholder' | transloco" data-cy="email-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('email')?.hasError('required')">
              {{ "staff.add.email.required" | transloco }}
            </mat-error>
            <mat-error *ngIf="headerConfig.formGroup.get('email')?.hasError('email')">
              {{ "staff.add.email.invalid" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campos de Fechas de Contrato -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8" *ngIf="!isBoardMember">
          <!-- Contract Start Date -->
          <mat-form-field data-cy="contract-start-date-field">
            <mat-label>{{ "staff.add.contractStartDate.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="contractStartDatePicker"
              formControlName="contractStartDate"
              [placeholder]="'staff.add.contractStartDate.placeholder' | transloco"
              data-cy="contractStartDate-input"
            />
            <mat-datepicker-toggle matSuffix [for]="contractStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractStartDatePicker></mat-datepicker>
          </mat-form-field>

          <!-- Contract End Date -->
          <mat-form-field data-cy="contract-end-date-field">
            <mat-label>{{ "staff.add.contractEndDate.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="contractEndDatePicker"
              formControlName="contractEndDate"
              [placeholder]="'staff.add.contractEndDate.placeholder' | transloco"
              data-cy="contractEndDate-input"
            />
            <mat-datepicker-toggle matSuffix [for]="contractEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractEndDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Ciudad y Región -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8" *ngIf="!isEmployee">
          <!-- Postal Address -->
          <mat-form-field data-cy="postal-address-field">
            <mat-label>{{ "staff.add.postalAddress.label" | transloco }}</mat-label>
            <input matInput formControlName="postalAddress" [placeholder]="'staff.add.postalAddress.placeholder' | transloco" data-cy="postalAddress-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('postalAddress')?.hasError('required')">
              {{ "staff.add.postalAddress.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- City -->
          <mat-form-field data-cy="city-field">
            <mat-label>{{ "staff.add.city.label" | transloco }}</mat-label>
            <mat-select
              formControlName="city"
              (valueChange)="getRegionsByCityId($event, 'region')"
              [placeholder]="'staff.add.city.placeholder' | transloco"
              [compareWith]="compareById"
              data-cy="city-select"
            >
              <mat-option *ngFor="let city of listCities" [value]="city" data-cy="city-option">
                {{ currentLang === 'es' ? city.name : city.nameEN }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('city')?.hasError('required')">
              {{ "staff.add.city.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Region -->
          <mat-form-field data-cy="region-field">
            <mat-label>{{ "staff.add.region.label" | transloco }}</mat-label>
            <mat-select formControlName="region" [placeholder]="'staff.add.region.placeholder' | transloco" [compareWith]="compareById" data-cy="region-select">
              <mat-option *ngFor="let region of listRegions" [value]="region" data-cy="region-option">
                {{ currentLang === 'es' ? region.name : region.nameEN }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('region')?.hasError('required')">
              {{ "staff.add.region.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Area Code -->
          <mat-form-field data-cy="area-code-field">
            <mat-label>{{ "staff.add.areaCode.label" | transloco }}</mat-label>
            <input matInput formControlName="areaCode" [placeholder]="'staff.add.areaCode.placeholder' | transloco" data-cy="areaCode-input" />
            <mat-error *ngIf="headerConfig.formGroup.get('areaCode')?.hasError('required')">
              {{ "staff.add.areaCode.required" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Asignación de Escuela -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.add.school-assignment" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.add.school-assignment-description" | transloco }}
          </p>
        </div>

        <!-- Campos de Escuela y Tipo de Asignación -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Escuela -->
          <mat-form-field data-cy="school-field">
            <mat-label>{{ "staff.add.school.label" | transloco }}</mat-label>
            <mat-select formControlName="school" [placeholder]="'staff.add.school.placeholder' | transloco" [compareWith]="compareById" data-cy="school-select">
              <mat-option *ngFor="let school of listSchools" [value]="school" data-cy="school-option">
                {{ school.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Tipo de Asignación -->
          <mat-form-field data-cy="assignment-type-field">
            <mat-label>{{ "staff.add.assignmentType.label" | transloco }}</mat-label>
            <mat-select formControlName="assignmentType" [placeholder]="'staff.add.assignmentType.placeholder' | transloco" [compareWith]="compareById" data-cy="assignment-type-select">
              <mat-option *ngFor="let assignmentType of listStaffAssignmentTypes" [value]="assignmentType" data-cy="assignment-type-option">
                {{ currentLang === 'es' ? assignmentType.name : assignmentType.nameEN }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Checkbox de Principal -->
        <div class="grid grid-cols-1 col-span-12 gap-2 mb-3 sm:grid-cols-1 sm:col-span-8">
          <mat-checkbox formControlName="isPrimary" data-cy="is-primary-checkbox" class="mt-0 -ml-3">
            {{ "staff.add.isPrimary.label" | transloco }}
          </mat-checkbox>
          <p class="ml-0 text-sm text-secondary">{{ "staff.add.isPrimary.hint" | transloco }}</p>
        </div>

        <!-- Información Adicional -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.add.additional-information" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.add.additional-information-description" | transloco }}
          </p>
        </div>

        <!-- Comentarios -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <mat-form-field data-cy="comments-field">
            <mat-label>{{ commentsLabel }}</mat-label>
            <textarea matInput formControlName="comments" [placeholder]="'staff.add.comments.placeholder' | transloco" rows="4" data-cy="comments-input"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
