<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Sponsor Information Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "auth.sign-up.sponsor-information" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "auth.sign-up.sponsor-information-description" | transloco }}</p>
        </div>

        <!-- Program and Status Selection -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field data-cy="program-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.program.label" | transloco }}</mat-label>
            <mat-select formControlName="program" [compareWith]="compareItemPrograms" data-cy="program-select" multiple [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}">
              <mat-option *ngFor="let program of listPrograms" [value]="program" >{{ program.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field data-cy="status-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.status.label" | transloco }}</mat-label>
            <mat-select formControlName="status" [compareWith]="compareItems" data-cy="status-select" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}">
              <mat-option *ngFor="let status of listAgencyStatus" [value]="status">{{ status.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Agency Information -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field>
            <mat-label>{{ "monitor-preoperational-visit.edit.agency.label" | transloco }}</mat-label>
            <input matInput formControlName="name" [placeholder]="'monitor-preoperational-visit.edit.agency.placeholder' | transloco" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ "monitor-preoperational-visit.edit.uieNumber.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="uieNumber"
              [placeholder]="'monitor-preoperational-visit.edit.uieNumber.placeholder' | transloco"
              type="number"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "auth.sign-up.address.label" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "auth.sign-up.address.description" | transloco }}</p>
        </div>

        <!-- Address -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- City *  -->
          <mat-form-field data-cy="city-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.city.label" | transloco }}</mat-label>
            <mat-select
              formControlName="city"
              [compareWith]="compareItems"
              (valueChange)="getRegionsByCityId($event)"
              data-cy="city-select"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            >
              <mat-option *ngFor="let city of listCities" [value]="city">{{ city.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Region *  -->
          <mat-form-field data-cy="region-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.region.label" | transloco }}</mat-label>
            <mat-select formControlName="region" [compareWith]="compareItems" data-cy="region-select" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}">
              <mat-option *ngFor="let region of listRegions" [value]="region">{{ region.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Additional Location Details -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Address *  -->
          <mat-form-field data-cy="address-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.address.label" | transloco }}</mat-label>
            <input matInput formControlName="address" [placeholder]="'monitor-preoperational-visit.edit.address.placeholder' | transloco" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}" />
          </mat-form-field>
          <!-- Zip Code *  -->
          <mat-form-field>
            <mat-label>{{ "monitor-preoperational-visit.edit.zip-code.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="zipCode"
              [placeholder]="'validation-to-program.edit.zip-code.placeholder' | transloco"
              type="number"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "auth.sign-up.user-information" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "auth.sign-up.user-information-description" | transloco }}</p>
        </div>

        <!-- Personal Information -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-8">
          <!-- First Name *  -->
          <mat-form-field data-cy="first-name-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.first-name.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="firstName"
              [placeholder]="'monitor-preoperational-visit.edit.first-name.placeholder' | transloco"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
          <!-- Middle Name *  -->
          <mat-form-field data-cy="middle-name-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.middle-name.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="middleName"
              [placeholder]="'monitor-preoperational-visit.edit.middle-name.placeholder' | transloco"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
          <!-- Father Last Name *  -->
          <mat-form-field data-cy="father-last-name-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.father-last-name.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="fatherLastName"
              [placeholder]="'monitor-preoperational-visit.edit.father-last-name.placeholder' | transloco"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
          <!-- Mother Last Name *  -->
          <mat-form-field data-cy="mother-last-name-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.mother-last-name.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="motherLastName"
              [placeholder]="'monitor-preoperational-visit.edit.mother-last-name.placeholder' | transloco"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
        </div>

        <!-- Contact Information -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <!-- Email *  -->
          <mat-form-field data-cy="email-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.email.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="email"
              [placeholder]="'monitor-preoperational-visit.edit.email.placeholder' | transloco"
              type="email"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
            />
          </mat-form-field>
          <!-- Phone *  -->
          <mat-form-field data-cy="phone-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.phone.label" | transloco }}</mat-label>
            <input matInput formControlName="phone" [placeholder]="'monitor-preoperational-visit.edit.phone.placeholder' | transloco" type="tel" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field data-cy="status-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.appointment-coordinated.label" | transloco }}</mat-label>
            <mat-select formControlName="appointmentCoordinated" data-cy="appointment-coordinated-select" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}">
              <mat-option *ngFor="let appointmentCoordinated of listAppointmentCoordinated" [value]="appointmentCoordinated.value">{{ appointmentCoordinated.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field data-cy="status-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.appointment-date.label" | transloco }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="appointmentDate" [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-8">
          <mat-form-field data-cy="comments-field">
            <mat-label>{{ "monitor-preoperational-visit.edit.comments.label" | transloco }}</mat-label>
            <textarea
              matInput
              formControlName="rejectionJustification"
              placeholder="{{ 'monitor-preoperational-visit.edit.comments.placeholder' | transloco }}"
              [ngClass]="{'text-slate-300' : isDarkMode, 'text-slate-700' : !isDarkMode}"
              rows="4"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
