<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->

  <app-generic-header [config]="headerConfig"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 pb-8 pl-8 pr-8">
        <!-- Información del Programa -->
        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Programa al que desea participar:</mat-label>
            <input matInput formControlName="programName" value="PDAM" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estatus:</mat-label>
            <input matInput formControlName="status" readonly />
          </mat-form-field>
        </div>

        <!-- Información de la Agencia -->
        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Nombre de la Agencia Auspiciadora:</mat-label>
            <input matInput formControlName="agencyName" value="FONDITA DE JUAN" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>UIE #:</mat-label>
            <input matInput formControlName="uieNumber" value="7454839948" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label># Registro de Corporación:</mat-label>
            <input matInput formControlName="corporationNumber" value="789013" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>#S.S Patronal:</mat-label>
            <input matInput formControlName="ssPatronal" value="66-145674" readonly />
          </mat-form-field>
        </div>

        <!-- Dirección y Contacto -->
        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Dirección:</mat-label>
            <input matInput formControlName="address" value="calle Esperanza Urb. Corazón" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Teléfono:</mat-label>
            <input matInput formControlName="phone" value="(xxx) xxx-xxxxx" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Pueblo:</mat-label>
            <input matInput formControlName="city" value="Caguas" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Región:</mat-label>
            <input matInput formControlName="region" value="Arecibo" readonly />
          </mat-form-field>
        </div>

        <!-- Información Personal -->
        <div class="grid grid-cols-3 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="firstName" value="JUAN" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Paterno:</mat-label>
            <input matInput formControlName="paternalLastName" value="DEL PUEBLO" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido Materno:</mat-label>
            <input matInput formControlName="maternalLastName" value="DÍAZ" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-10 gap-4">
          <mat-form-field>
            <mat-label>Código Postal:</mat-label>
            <input matInput formControlName="postalCode" value="00123" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo Electrónico:</mat-label>
            <input matInput formControlName="email" value="juandelpueblo@fonditajuan.com" readonly />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
