<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->

  <app-generic-header [config]="headerConfig"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 pb-8 pl-8 pr-8">
        <!-- Información del Programa -->
        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.programName' | transloco }}</mat-label>
            <input matInput formControlName="programName" value="PDAM" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.status' | transloco }}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of list" [value]="status">{{ status }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Información de la Agencia -->
        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.agencyName' | transloco }}</mat-label>
            <input matInput formControlName="agencyName" value="FONDITA DE JUAN" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.uieNumber' | transloco }}</mat-label>
            <input matInput formControlName="uieNumber" value="7454839948" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.corporationNumber' | transloco }}</mat-label>
            <input matInput formControlName="corporationNumber" value="789013" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.ssPatronal' | transloco }}</mat-label>
            <input matInput formControlName="ssPatronal" value="66-145674" readonly />
          </mat-form-field>
        </div>

        <!-- Dirección y Contacto -->
        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.address' | transloco }}</mat-label>
            <input matInput formControlName="address" value="calle Esperanza Urb. Corazón" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.phone' | transloco }}</mat-label>
            <input matInput formControlName="phone" value="(xxx) xxx-xxxxx" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.city' | transloco }}</mat-label>
            <input matInput formControlName="city" value="Caguas" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.region' | transloco }}</mat-label>
            <input matInput formControlName="region" value="Arecibo" readonly />
          </mat-form-field>
        </div>

        <!-- Información Personal -->
        <div class="grid grid-cols-3 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.firstName' | transloco }}</mat-label>
            <input matInput formControlName="firstName" value="JUAN" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.paternalLastName' | transloco }}</mat-label>
            <input matInput formControlName="paternalLastName" value="DEL PUEBLO" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.maternalLastName' | transloco }}</mat-label>
            <input matInput formControlName="maternalLastName" value="DÍAZ" readonly />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-2 col-span-8 gap-4">
          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.postalCode' | transloco }}</mat-label>
            <input matInput formControlName="postalCode" value="00123" readonly />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'validation-to-program.edit.email' | transloco }}</mat-label>
            <input matInput formControlName="email" value="juandelpueblo@fonditajuan.com" readonly />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
