<ng-container *ngIf="!menuItem">
    <button
        mat-icon-button
        [matTooltip]="isDarkMode ? ('common.light-mode' | transloco) : ('common.dark-mode' | transloco)"
        (click)="toggleTheme()">
        <mat-icon [svgIcon]="isDarkMode ? 'heroicons_solid:sun' : 'heroicons_solid:moon'"></mat-icon>
    </button>
</ng-container>

<ng-container *ngIf="menuItem">
    <button mat-menu-item
        [matTooltip]="isDarkMode ? ('common.light-mode' | transloco) : ('common.dark-mode' | transloco)"
        (click)="toggleTheme()"
        class="flex items-center h-10 px-4">
        <mat-icon [svgIcon]="isDarkMode ? 'heroicons_solid:sun' : 'heroicons_solid:moon'" class="mr-3 icon-size-5"></mat-icon>
        <span *ngIf="isDarkMode">{{ 'common.light-mode' | transloco }}</span>
        <span *ngIf="!isDarkMode">{{ 'common.dark-mode' | transloco }}</span>
    </button>
</ng-container>
