<div class="flex flex-col items-center p-6 border-b sm:flex-row flex-0 sm:justify-between sm:py-8 sm:px-10 bg-card dark:bg-transparent">
  <div class="flex-1 min-w-0">
    <div class="mt-2">
      <h2 class="text-4xl font-extrabold leading-7 tracking-tight truncate sm:text-3xl sm:leading-10">
        {{ config.title | transloco }}
      </h2>
    </div>
  </div>

  <form [formGroup]="config.formGroup" class="flex items-center gap-3 mt-6 shrink-0 sm:mt-0">
    <!-- Botón Clear -->
    <div class="animated-box" *ngIf="config.clearVisible" [@fadeInRight]="config.clearVisible" [@fadeOutRight]="config.clearVisible">
      <button title="Limpiar" type="button" mat-flat-button color="primary" (click)="clear.emit($event)">
        <mat-icon class="mr-2 icon-size-5" svgIcon="mat_outline:clear"></mat-icon>
      </button>
    </div>

    <!-- Campo de búsqueda -->
    <ng-container *ngIf="config.searchFieldShow">
      <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
        <mat-icon class="icon-size-5" matPrefix svgIcon="mat_solid:search"></mat-icon>
        <input matInput autocomplete="off" [placeholder]="config.searchInputPlaceholder | transloco" formControlName="name" />
      </mat-form-field>

      <button title="Buscar" mat-flat-button color="primary" type="button" (click)="onSearch()">
        <mat-icon class="ml-2 icon-size-5" svgIcon="mat_outline:search"></mat-icon>
      </button>
    </ng-container>

    <!-- Botón Agregar -->
    <a [routerLink]="'add'" *ngIf="config.goToAddButtonShow">
      <button type="button" title="Agregar" class="text-white bg-[#F1A621]" mat-flat-button [color]="'primary'">
        <mat-icon class="mr-2 icon-size-5" [svgIcon]="'mat_outline:add'"></mat-icon>
      </button>
    </a>

    <!-- Botón Guardar -->
    <button class="bg-[#F39B1A]" *ngIf="config.saveButtonShow"
            type="button"
            title="Guardar"
            mat-flat-button
            color="primary"
            (click)="onSave()">
      {{ config.saveButtonText | transloco }}
    </button>

    <!-- Botón Cancelar -->
    <button *ngIf="config.cancelButtonShow" type="button" title="Cancelar" (click)="onCancel($event)" mat-button>
      {{ config.cancelButtonText | transloco }}
    </button>

    <!-- Botón Rechazar -->
    <button *ngIf="config.rejectButtonShow" type="button" title="Rechazar" (click)="onReject()" mat-button>
      {{ config.rejectButtonText | transloco }}
    </button>

    <!-- Botón Submit -->
    <button *ngIf="config.submitButtonShow" type="submit" title="Crear" mat-raised-button color="primary" class="ml-2" [disabled]="isLoading" (click)="onSubmit()">
      <mat-icon *ngIf="isLoading" class="mr-2">hourglass_empty</mat-icon>
      <span>{{ isLoading ? (config.submitLoadingText | transloco) : (config.submitButtonText | transloco) }}</span>
    </button>
  </form>
</div>
