<!-- Start of Selection -->
<div class="flex flex-row justify-end mb-2" *ngIf="config.addButtonShow">
  <button
    class="dark:bg-amber-600 dark:hover:bg-amber-600"
    mat-mini-fab
    color="primary"
    (click)="onAdd()"
    [matTooltip]="config.addButtonTooltip | transloco"
    [matTooltipPosition]="config.addButtonTooltipPosition | transloco"
    [title]="config.addButtonLabel | transloco"
    [attr.aria-label]="config.addButtonLabel | transloco">
    <mat-icon [attr.aria-hidden]="true">{{ config.addButtonIcon }}</mat-icon>
  </button>
</div>

<table class="hidden w-full sm:table" mat-table [dataSource]="config.dataSource" [trackBy]="trackByFn">
  <ng-container [matColumnDef]="getColumnDef(col)" *ngFor="let col of config.columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      {{ col.label | transloco }}
    </th>
    <td mat-cell *matCellDef="let element" data-cy="generic-table-cells">
      @switch (col.type) {
      @case ('check') {
      <mat-checkbox
        [checked]="getNestedValue(element, col.key)"
        (change)="onCheckboxChange($event, element, col.key)"
        [attr.aria-label]="col.label | transloco">
      </mat-checkbox>
      }
      @case ('image') {
      <img
        [src]="getNestedValue(element, col.key) || col.imageConfig?.defaultImage || 'assets/images/avatars/profile.png'"
        [style.width]="col.imageConfig?.width || '40px'"
        [style.height]="col.imageConfig?.height || '40px'"
        [class]="col.imageConfig?.class || 'rounded-full object-cover'"
        alt="Profile"
        [attr.alt]="(col.imageConfig?.alt || col.label) | transloco"
        title="Profile"
        [attr.title]="(col.imageConfig?.alt || col.label) | transloco"
        [attr.aria-label]="(col.imageConfig?.alt || col.label) | transloco"
        (error)="handleMissingImage($event, col.imageConfig?.defaultImage || 'assets/images/avatars/profile.png')"
      />
      }
      @case ('date') {
      {{ getNestedValue(element, col.key) | date : "yyyy-MM-dd" }}
      } @case ('date-time') {
      {{ getNestedValue(element, col.key) | date : "MMMM dd, yyyy" }}
      } @case ('text') {
      {{ getNestedValue(element, col.key) }}
      } @case ('combined-text') {
      {{ getNestedValue(element, col.keys[0]) }} {{ getNestedValue(element, col.keys[1]) }}
      } @case ('boolean') {
      {{ getNestedValue(element, col.key) ? "Si" : "No" }}
      } @case ('button') {
      <div class="flex flex-row justify-center gap-2">
        @for (button of col?.buttons; track button) {
        <button
          [title]="'users.list.actions.' + button.key | transloco"
          *ngIf="button.key === 'edit'"
          type="button"
          mat-icon-button
          color="warm"
          (click)="onEdit($event, element.id)"
          [attr.aria-label]="'users.list.actions.' + button.key | transloco">
          <span class="sr-only">{{'users.list.actions.' + button.key | transloco}}</span>
          <mat-icon [svgIcon]="button.key === 'edit' ? 'mat_solid:launch' : 'mat_solid:delete'" [attr.aria-hidden]="true"></mat-icon>
        </button>
        <button
          [title]="'users.list.actions.' + button.key | transloco"
          *ngIf="button.key === 'delete'"
          type="button"
          mat-icon-button
          color="warm"
          (click)="onDelete($event, element.id)"
          [attr.aria-label]="'users.list.actions.' + button.key | transloco">
          <span class="sr-only">{{'users.list.actions.' + button.key | transloco}}</span>
          <mat-icon [svgIcon]="button.key === 'edit' ? 'mat_solid:launch' : 'mat_solid:delete'" [attr.aria-hidden]="true"></mat-icon>
        </button>
        }
      </div>
      } @default {
      {{ getNestedValue(element, col.key) }}
      } }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="config.displayedColumns"></tr>
  <tr class="h-16 order-row" mat-row *matRowDef="let row; columns: config.displayedColumns"></tr>
</table>

<!-- Lista para móviles -->
<div class="w-full sm:hidden">
  @for (element of config.dataSource.connect() | async; track element) {
  <div class="p-2 m-2 border rounded-lg bg-card">
    @for (col of config.columnsSchema; track col) {
    <div class="flex w-full py-2" [class.justify-between]="col.key !== 'actions'" [class.justify-center]="col.key === 'actions'">
      @if (col.key !== 'actions') {
      <span class="font-medium">{{ col.label | transloco }}:</span>
      }
      <span>
        @switch (col.type) {
        @case ('check') {
        <mat-checkbox [checked]="getNestedValue(element, col.key)" (change)="onCheckboxChange($event, element, col.key)" [attr.aria-label]="col.label | transloco"></mat-checkbox>
        }
        @case ('image') {
        <img
          [src]="getNestedValue(element, col.key) || col.imageConfig?.defaultImage || 'assets/images/avatars/profile.png'"
          [style.width]="col.imageConfig?.width || '40px'"
          [style.height]="col.imageConfig?.height || '40px'"
          [class]="col.imageConfig?.class || 'rounded-full object-cover'"
          alt="Profile"
          [attr.alt]="(col.imageConfig?.alt || col.label) | transloco"
          title="Profile"
          [attr.title]="(col.imageConfig?.alt || col.label) | transloco"
          [attr.aria-label]="(col.imageConfig?.alt || col.label) | transloco"
          (error)="handleMissingImage($event, col.imageConfig?.defaultImage || 'assets/images/avatars/profile.png')"
        />
        }
        @case ('date') {
        {{ getNestedValue(element, col.key) | date : "yyyy-MM-dd" }}
        } @case ('date-time') {
        {{ getNestedValue(element, col.key) | date : "MMMM dd, yyyy" }}
        } @case ('text') {
        {{ getNestedValue(element, col.key) }}
        } @case ('combined-text') {
        {{ getNestedValue(element, col.keys[0]) }} {{ getNestedValue(element, col.keys[1]) }}
        } @case ('boolean') {
        {{ getNestedValue(element, col.key) ? "Si" : "No" }}
        } @case ('button') {
        <div class="gap-2">
          @for (button of col?.buttons; track button) { @if (button.key === 'edit') {
          <button
            [title]="'users.list.actions.edit' | transloco"
            type="button"
            mat-flat-button
            color="primary"
            (click)="onEdit($event, element.id)"
            [attr.aria-label]="'users.list.actions.edit' | transloco">
            Editar
          </button>
          } @if (button.key === 'delete') {
          <button
            [title]="'users.list.actions.delete' | transloco"
            type="button"
            mat-flat-button
            color="warm"
            (click)="onDelete($event, element.id)"
            [attr.aria-label]="'users.list.actions.delete' | transloco">
            Eliminar
          </button>
          } }
        </div>
        } @default {
        {{ getNestedValue(element, col.key) }}
        } }
      </span>
    </div>
    }
  </div>
  }
</div>
