<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <!-- Header -->
  <app-generic-header
    [title]="title"
    [formGroup]="formRoot"
    [clearVisible]="clearVisible"
    (clear)="onClear($event)"
    (submit)="onSubmit()">
  </app-generic-header>

  <!-- Main -->
  <div class="flex-auto overflow-y-auto" cdkScrollable>
    <!-- CONTENT GOES HERE -->
    <div class="border-gray-300 border-solid border-1 h-max min-h-max max-h-400">
      <app-generic-table
        [dataSource]="list"
        [columnsSchema]="columnsSchema"
        [displayedColumns]="displayedColumns"
        [handler]="this">
      </app-generic-table>
    </div>
  </div>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPaginator(formRoot.value, $event)"> </mat-paginator>
</div>
