<div class="flex flex-col items-center flex-auto min-w-0 sm:justify-center">
    <div class="w-full px-4 py-8 sm:w-auto sm:pl-12 sm:pr-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
            <div class="">
                <img src="assets/images/logo/logo.png" alt="Logo" />
            </div>

            <div class="mt-4 text-4xl font-extrabold leading-tight tracking-tight text-center">
                {{ 'auth.reset-password.title' | transloco }}
            </div>

            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <form class="mt-8" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.temp-password.label' | transloco }}</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'tempPassword'"
                        #tempPasswordField
                        [placeholder]="'auth.reset-password.temp-password.placeholder' | transloco"
                        [title]="'auth.reset-password.temp-password.label' | transloco">
                    <button
                        mat-icon-button
                        type="button"
                        (click)="tempPasswordField.type === 'password' ? tempPasswordField.type = 'text' : tempPasswordField.type = 'password'"
                        matSuffix
                        [title]="tempPasswordField.type === 'password' ? 'Show password' : 'Hide password'">
                        <mat-icon class="icon-size-5" [svgIcon]="tempPasswordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('tempPassword').hasError('required')">
                        {{ 'auth.reset-password.temp-password.required' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.new-password.label' | transloco }}</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'newPassword'"
                        #newPasswordField
                        [placeholder]="'auth.reset-password.new-password.placeholder' | transloco"
                        [title]="'auth.reset-password.new-password.label' | transloco">
                    <button
                        mat-icon-button
                        type="button"
                        (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                        matSuffix
                        [title]="newPasswordField.type === 'password' ? 'Show password' : 'Hide password'">
                        <mat-icon class="icon-size-5" [svgIcon]="newPasswordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        {{ 'auth.reset-password.new-password.required' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.confirm-password.label' | transloco }}</mat-label>
                    <input
                        matInput
                        type="password"
                        [formControlName]="'confirmPassword'"
                        #confirmPasswordField
                        [placeholder]="'auth.reset-password.confirm-password.placeholder' | transloco"
                        [title]="'auth.reset-password.confirm-password.label' | transloco">
                    <button
                        mat-icon-button
                        type="button"
                        (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                        matSuffix
                        [title]="confirmPasswordField.type === 'password' ? 'Show password' : 'Hide password'">
                        <mat-icon class="icon-size-5" [svgIcon]="confirmPasswordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        {{ 'auth.reset-password.confirm-password.required' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                        {{ 'auth.reset-password.passwords-must-match' | transloco }}
                    </mat-error>
                </mat-form-field>

                <button class="w-full mt-6 fuse-mat-button-large" mat-flat-button [color]="'primary'" [disabled]="resetPasswordForm.disabled" (click)="resetPassword()">
                    <span *ngIf="!resetPasswordForm.disabled">
                        {{ 'auth.reset-password.submit' | transloco }}
                    </span>
                    <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
