<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>
  <div class="flex-auto overflow-y-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Información del tipo de entrega -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'delivery-type.add.name.label' | transloco }}</mat-label>
            <input matInput formControlName="name" required [placeholder]="'delivery-type.add.name.placeholder' | transloco" />
            <mat-error *ngIf="headerConfig.formGroup.get('name').hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'delivery-type.add.nameEN.label' | transloco }}</mat-label>
            <input matInput formControlName="nameEN" required [placeholder]="'delivery-type.add.nameEN.placeholder' | transloco" />
            <mat-error *ngIf="headerConfig.formGroup.get('nameEN').hasError('required')">El nombre en inglés es obligatorio</mat-error>
          </mat-form-field>
        </div>
        <!-- Posición y opciones -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'delivery-type.add.position.label' | transloco }}</mat-label>
            <mat-select formControlName="position" required>
              <mat-option *ngFor="let option of positionOptions" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('position').hasError('required')">La posición es obligatoria</mat-error>
          </mat-form-field>
          <mat-checkbox formControlName="isActive">{{ 'delivery-type.add.isActive.label' | transloco }}</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>
