<div class="flex flex-col -m-6 max-h-screen min-w-120">
  <!-- Header -->
  <div class="flex justify-between items-center pr-3 pl-6 h-16 flex-0 sm:pr-5 sm:pl-8 bg-primary text-on-primary">
    <div class="flex flex-col">
      <div class="text-lg font-medium">
        {{ 'schools.modal.create' | transloco }}
      </div>
    </div>
    <button mat-icon-button [mat-dialog-close]="null" [tabIndex]="-1" [title]="'global.buttons.close' | transloco" [attr.aria-label]="'global.buttons.close' | transloco">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'" aria-hidden="true"></mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="flex overflow-y-auto flex-col flex-auto p-6">
    <form [formGroup]="schoolForm" class="flex flex-col gap-6">
      <!-- Campo Nombre -->
      <mat-form-field>
        <input matInput formControlName="name" [placeholder]="'schools.modal.name' | transloco" autocomplete="on"/>
        <mat-error *ngIf="schoolForm.get('name')?.hasError('required')">
          {{ 'global.validation.required' | transloco }}
        </mat-error>
        <mat-error *ngIf="schoolForm.get('name')?.hasError('minlength')">
          {{ 'global.validation.minLength' | transloco }}
        </mat-error>
      </mat-form-field>

      <!-- Actions -->
      <div class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center">
        <div class="flex gap-2">
          <button mat-flat-button type="button" [color]="'warn'" (click)="onCancel()" [disabled]="loading">
            {{ 'global.buttons.cancel' | transloco }}
          </button>
        </div>
        <div class="flex gap-2">
          <button mat-flat-button type="button" [color]="'primary'" (click)="onSave()" [disabled]="schoolForm.invalid || loading">
            <span *ngIf="loading">{{ 'global.buttons.save' | transloco }}</span>
            <span *ngIf="!loading">{{ 'global.buttons.add' | transloco }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
