<div class="flex absolute inset-0 flex-col min-w-0">
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="overflow-y-auto flex-auto" cdkScrollable (click)="filterDrawer?.close()">
    <app-generic-table [config]="tableConfig" [handler]="this"></app-generic-table>
  </div>

  <app-generic-filter-drawer
    #filterDrawer
    [filtersSchema]="filtersSchema"
    [handler]="this"
    [initialValues]="appliedFilters"
    drawerName="emailLogsListFilterDrawer">
  </app-generic-filter-drawer>
</div>
