<div class="flex flex-col flex-auto items-center min-w-0 sm:justify-center">
    <div class="px-4 py-8 w-full sm:w-auto sm:pl-12 sm:pr-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="mx-auto w-full max-w-80 sm:w-80 sm:mx-0">
            <div class="">
                <img
                [src]="'assets/images/logo/logo.png'"
                alt="Logo"
                class="w-auto"
                fetchpriority="high"
                loading="eager"
                decoding="sync"
                />
            </div>

            <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight text-center">
                {{ 'auth.reset-password.title' | transloco }}
            </div>

            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <form class="mt-8" [formGroup]="resetPasswordForm" #updatePasswordNgForm="ngForm" (ngSubmit)="resetPassword()">
                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.temp-password.label' | transloco }}</mat-label>
                    <input
                        id="tempPassword"
                        matInput
                        [formControlName]="'tempPassword'"
                        [placeholder]="'auth.reset-password.temp-password.placeholder' | transloco"
                        [title]="'auth.reset-password.temp-password.label' | transloco"
                        type="password"
                        #tempPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="tempPasswordField.type === 'password' ? (tempPasswordField.type = 'text') : (tempPasswordField.type = 'password')"
                        matSuffix
                        [title]="tempPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-label]="tempPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-describedby]="'tempPassword'">
                        <mat-icon class="icon-size-5" *ngIf="tempPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="tempPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('tempPassword').hasError('required')">
                        {{ 'auth.reset-password.temp-password.required' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.new-password.label' | transloco }}</mat-label>
                    <input
                        id="newPassword"
                        matInput
                        [formControlName]="'newPassword'"
                        [placeholder]="'auth.reset-password.new-password.placeholder' | transloco"
                        [title]="'auth.reset-password.new-password.label' | transloco"
                        type="password"
                        #newPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="newPasswordField.type === 'password' ? (newPasswordField.type = 'text') : (newPasswordField.type = 'password')"
                        matSuffix
                        [title]="newPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-label]="newPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-describedby]="'newPassword'">
                        <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        {{ 'auth.reset-password.new-password.required' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>{{ 'auth.reset-password.confirm-password.label' | transloco }}</mat-label>
                    <input
                        id="confirmPassword"
                        matInput
                        [formControlName]="'confirmPassword'"
                        [placeholder]="'auth.reset-password.confirm-password.placeholder' | transloco"
                        [title]="'auth.reset-password.confirm-password.label' | transloco"
                        type="password"
                        #confirmPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="confirmPasswordField.type === 'password' ? (confirmPasswordField.type = 'text') : (confirmPasswordField.type = 'password')"
                        matSuffix
                        [title]="confirmPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-label]="confirmPasswordField.type === 'password' ? 'Mostrar contraseña' : 'Ocultar contraseña'"
                        [attr.aria-describedby]="'confirmPassword'">
                        <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        {{ 'auth.reset-password.confirm-password.required' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                        {{ 'auth.reset-password.passwords-must-match' | transloco }}
                    </mat-error>
                </mat-form-field>

                <button class="mt-6 w-full fuse-mat-button-large" mat-flat-button [color]="'primary'" [disabled]="resetPasswordForm.disabled">
                    <span *ngIf="!resetPasswordForm.disabled">
                        {{ 'auth.reset-password.submit' | transloco }}
                    </span>
                    <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
