<div class="flex flex-col flex-auto items-center min-w-0 sm:justify-center">
  <!-- Theme Toggle and Languages -->
  <div class="flex fixed top-4 right-4 z-50 gap-2 items-center">
    <languages></languages>
  </div>
  <div class="px-4 py-8 w-full sm:w-auto sm:pl-12 sm:pr-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="mx-auto w-full max-w-80 sm:w-80 sm:mx-0">
            <div class="">
                <img
                [src]="'assets/images/logo/logo.png'"
                alt="Logo"
                class="w-auto"
                fetchpriority="high"
                loading="eager"
                decoding="sync"
                />
            </div>

            <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight text-center">
                {{ 'update-password.title' | transloco }}
            </div>

            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <form class="mt-8" [formGroup]="resetPasswordForm" #updatePasswordNgForm="ngForm" (ngSubmit)="resetPassword()" data-cy="update-password-form">
                <mat-form-field class="w-full" data-cy="temp-password-field">
                    <mat-label>{{ 'update-password.temp-password.label' | transloco }}</mat-label>
                    <input
                        id="tempPassword"
                        matInput
                        [formControlName]="'tempPassword'"
                        [placeholder]="'update-password.temp-password.placeholder' | transloco"
                        [title]="'update-password.temp-password.label' | transloco"
                        type="password"
                        data-cy="temp-password-input"
                        #tempPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="tempPasswordField.type === 'password' ? (tempPasswordField.type = 'text') : (tempPasswordField.type = 'password')"
                        matSuffix
                        [title]="tempPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-label]="tempPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-describedby]="'tempPassword'"
                        data-cy="temp-password-visibility-button">
                        <mat-icon class="icon-size-5" *ngIf="tempPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="tempPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('tempPassword').hasError('required')" data-cy="temp-password-required-error">
                        {{ 'update-password.temp-password.required' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" data-cy="new-password-field">
                    <mat-label>{{ 'update-password.new-password.label' | transloco }}</mat-label>
                    <input
                        id="newPassword"
                        matInput
                        [formControlName]="'newPassword'"
                        [placeholder]="'update-password.new-password.placeholder' | transloco"
                        [title]="'update-password.new-password.label' | transloco"
                        type="password"
                        data-cy="new-password-input"
                        #newPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="newPasswordField.type === 'password' ? (newPasswordField.type = 'text') : (newPasswordField.type = 'password')"
                        matSuffix
                        [title]="newPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-label]="newPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-describedby]="'newPassword'"
                        data-cy="new-password-visibility-button">
                        <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')" data-cy="new-password-required-error">
                        {{ 'update-password.new-password.required' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')" data-cy="new-password-minlength-error">
                        {{ 'update-password.new-password.minlength' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" data-cy="confirm-password-field">
                    <mat-label>{{ 'update-password.confirm-password.label' | transloco }}</mat-label>
                    <input
                        id="confirmPassword"
                        matInput
                        [formControlName]="'confirmPassword'"
                        [placeholder]="'update-password.confirm-password.placeholder' | transloco"
                        [title]="'update-password.confirm-password.label' | transloco"
                        type="password"
                        data-cy="confirm-password-input"
                        #confirmPasswordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="confirmPasswordField.type === 'password' ? (confirmPasswordField.type = 'text') : (confirmPasswordField.type = 'password')"
                        matSuffix
                        [title]="confirmPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-label]="confirmPasswordField.type === 'password' ? ('update-password.password-visibility.show' | transloco) : ('update-password.password-visibility.hide' | transloco)"
                        [attr.aria-describedby]="'confirmPassword'"
                        data-cy="confirm-password-visibility-button">
                        <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')" data-cy="confirm-password-required-error">
                        {{ 'update-password.confirm-password.required' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.hasError('mismatch')" data-cy="passwords-mismatch-error">
                        {{ 'update-password.passwords-must-match' | transloco }}
                    </mat-error>
                </mat-form-field>

                <button class="mt-6 w-full fuse-mat-button-large" mat-flat-button [color]="'primary'" [disabled]="resetPasswordForm.disabled" data-cy="submit-button">
                    <span *ngIf="!resetPasswordForm.disabled">
                        {{ 'update-password.submit' | transloco }}
                    </span>
                    <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
