<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Información de la opción de selección -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field appearance="fill">
            <mat-label>Nombre (Español)</mat-label>
            <input matInput formControlName="name" required placeholder="Nombre en español" />
            <mat-error *ngIf="headerConfig.formGroup.get('name').hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Nombre (Inglés)</mat-label>
            <input matInput formControlName="nameEN" required placeholder="Nombre en inglés" />
            <mat-error *ngIf="headerConfig.formGroup.get('nameEN').hasError('required')">El nombre en inglés es obligatorio</mat-error>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-8">
          <mat-form-field appearance="fill">
            <mat-label>Clave de opción</mat-label>
            <input matInput formControlName="optionKey" required placeholder="Clave de opción" />
            <mat-error *ngIf="headerConfig.formGroup.get('optionKey').hasError('required')">La clave es obligatoria</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Orden de visualización</mat-label>
            <input matInput formControlName="displayOrder" type="number" required placeholder="Orden de visualización" />
            <mat-error *ngIf="headerConfig.formGroup.get('displayOrder').hasError('required')">El orden es obligatorio</mat-error>
          </mat-form-field>



          <mat-form-field appearance="fill">
            <mat-label>Posición en la lista</mat-label>
            <mat-select formControlName="position" required>
              <mat-option *ngFor="let option of positionOptions" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('position').hasError('required')">La posición es obligatoria</mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="isActive">Activo</mat-checkbox>
          <mat-checkbox formControlName="isDefaultValue">Valor por defecto</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>
