<div class="flex absolute inset-0 flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="overflow-y-auto flex-auto sm:p-6 sm:w-auto" cdkScrollable #formContainer>
    <form [formGroup]="headerConfig.formGroup" #staffEditForm="ngForm" data-cy="staff-edit-form">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <!-- Información General -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.edit.information" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.edit.information-description" | transloco }}
          </p>
        </div>

        <!-- Staff Type -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-12">
          <mat-form-field data-cy="staffType-field">
            <mat-label>{{ "staff.edit.staffType.label" | transloco }}</mat-label>
            <mat-select
              formControlName="staffType"
              [placeholder]="'staff.edit.staffType.placeholder' | transloco"
              [compareWith]="compareById"
              data-cy="staffType-select"
              matTooltip="El tipo de personal no se puede cambiar una vez creado"
              matTooltipPosition="above"
            >
              <mat-option *ngFor="let staffType of listStaffTypes" [value]="staffType" data-cy="staffType-option">
                {{ currentLang === "es" ? staffType.name : staffType.nameEn }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Clasificación de Staff -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-12">
          <mat-form-field data-cy="staff-classification-field">
            <mat-label>{{ "staff.edit.staffClassification.label" | transloco }}</mat-label>
            <mat-select
              formControlName="staffClassification"
              required
              [placeholder]="'staff.edit.staffClassification.placeholder' | transloco"
              [compareWith]="compareById"
              data-cy="staff-classification-select"
            >
              <mat-option *ngFor="let classification of listStaffClassifications" [value]="classification" data-cy="staff-classification-option">
                {{ currentLang === "es" ? classification.name : classification.nameEn }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('staffClassification')?.hasError('required')">
              {{ "staff.edit.staffClassification.required" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campos de Nombre -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-4 sm:col-span-12">
          <!-- First Name -->
          <mat-form-field class="w-full" data-cy="firstName-field">
            <mat-label>{{ "staff.edit.firstName.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="firstName"
              required
              placeholder="{{ 'staff.edit.firstName.placeholder' | transloco }}"
              title="{{ 'staff.edit.firstName.label' | transloco }}"
              [attr.aria-label]="'staff.edit.firstName.label' | transloco"
              data-cy="firstName-input"
            />
            <mat-error *ngIf="headerConfig.formGroup.get('firstName')?.hasError('required')">
              {{ "staff.edit.firstName.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Middle Name -->
          <mat-form-field class="w-full" data-cy="middleName-field">
            <mat-label>{{ "staff.edit.middleName.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="middleName"
              placeholder="{{ 'staff.edit.middleName.placeholder' | transloco }}"
              title="{{ 'staff.edit.middleName.label' | transloco }}"
              [attr.aria-label]="'staff.edit.middleName.label' | transloco"
              data-cy="middleName-input"
            />
          </mat-form-field>

          <!-- Father's Last Name -->
          <mat-form-field class="w-full" data-cy="fatherLastName-field">
            <mat-label>{{ "staff.edit.fatherLastName.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="fatherLastName"
              required
              placeholder="{{ 'staff.edit.fatherLastName.placeholder' | transloco }}"
              title="{{ 'staff.edit.fatherLastName.label' | transloco }}"
              [attr.aria-label]="'staff.edit.fatherLastName.label' | transloco"
              data-cy="fatherLastName-input"
            />
            <mat-error *ngIf="headerConfig.formGroup.get('fatherLastName')?.hasError('required')">
              {{ "staff.edit.fatherLastName.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Mother's Last Name -->
          <mat-form-field class="w-full" data-cy="motherLastName-field">
            <mat-label>{{ "staff.edit.motherLastName.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="motherLastName"
              placeholder="{{ 'staff.edit.motherLastName.placeholder' | transloco }}"
              title="{{ 'staff.edit.motherLastName.label' | transloco }}"
              [attr.aria-label]="'staff.edit.motherLastName.label' | transloco"
              data-cy="motherLastName-input"
            />
          </mat-form-field>
        </div>

        <!-- Position y Birth Date -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-12">
          <!-- Position -->
          <mat-form-field data-cy="position-field">
            <mat-label>{{ "staff.edit.position.label" | transloco }}</mat-label>
            <mat-select
              formControlName="position"
              required
              [placeholder]="'staff.edit.position.placeholder' | transloco"
              [compareWith]="compareById"
              data-cy="position-select"
            >
              <mat-option *ngFor="let position of listPositions" [value]="position" data-cy="position-option">
                {{ currentLang === "es" ? position.name : position.nameEN }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="headerConfig.formGroup.get('position')?.hasError('required')">
              {{ "staff.edit.position.required" | transloco }}
            </mat-error>
          </mat-form-field>

          <!-- Birth Date -->
          <mat-form-field data-cy="birth-date-field">
            <mat-label>{{ "staff.edit.birthDate.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="birthDatePicker"
              formControlName="birthDate"
              required
              placeholder="{{ 'staff.edit.birthDate.placeholder' | transloco }}"
              title="{{ 'staff.edit.birthDate.label' | transloco }}"
              [attr.aria-label]="'staff.edit.birthDate.label' | transloco"
              data-cy="birthDate-input"
            />
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
            <mat-error *ngIf="headerConfig.formGroup.get('birthDate')?.hasError('required')">
              {{ "staff.edit.birthDate.required" | transloco }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Contract Dates -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-12">
          <!-- Contract Start Date -->
          <mat-form-field data-cy="contract-start-date-field">
            <mat-label>{{ "staff.edit.contractStartDate.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="contractStartDatePicker"
              formControlName="contractStartDate"
              placeholder="{{ 'staff.edit.contractStartDate.placeholder' | transloco }}"
              title="{{ 'staff.edit.contractStartDate.label' | transloco }}"
              [attr.aria-label]="'staff.edit.contractStartDate.label' | transloco"
              data-cy="contractStartDate-input"
            />
            <mat-datepicker-toggle matSuffix [for]="contractStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractStartDatePicker></mat-datepicker>
          </mat-form-field>

          <!-- Contract End Date -->
          <mat-form-field data-cy="contract-end-date-field">
            <mat-label>{{ "staff.edit.contractEndDate.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="contractEndDatePicker"
              formControlName="contractEndDate"
              placeholder="{{ 'staff.edit.contractEndDate.placeholder' | transloco }}"
              title="{{ 'staff.edit.contractEndDate.label' | transloco }}"
              [attr.aria-label]="'staff.edit.contractEndDate.label' | transloco"
              data-cy="contractEndDate-input"
            />
            <mat-datepicker-toggle matSuffix [for]="contractEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractEndDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Asignación de Escuela -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.edit.site-assignment" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.edit.site-assignment-description" | transloco }}
          </p>
        </div>

        <!-- Campos de Sitio y Tipo de Asignación -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-12">
          <!-- Sitio -->
          <mat-form-field data-cy="site-field">
            <mat-label>{{ "staff.edit.site.label" | transloco }}</mat-label>
            <mat-select formControlName="site" [placeholder]="'staff.edit.site.placeholder' | transloco" [compareWith]="compareById" data-cy="site-select">
              <mat-option *ngFor="let site of listSites" [value]="site" data-cy="site-option">
                {{ site.siteCode }} - {{ site.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Información Adicional -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1">
          <p class="text-lg font-medium">
            {{ "staff.edit.additional-information" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.edit.additional-information-description" | transloco }}
          </p>
        </div>

        <!-- Comentarios -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-12">
          <mat-form-field data-cy="comments-field">
            <mat-label>{{ commentsLabel }}</mat-label>
            <textarea
              matInput
              formControlName="comments"
              placeholder="{{ 'staff.edit.comments.placeholder' | transloco }}"
              title="{{ 'staff.edit.comments.label' | transloco }}"
              [attr.aria-label]="'staff.edit.comments.label' | transloco"
              rows="4"
              data-cy="comments-input"
            ></textarea>
          </mat-form-field>
        </div>

        <!-- Campos de Revisión (solo para administradores) -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1" *ngIf="canViewReviewFields">
          <p class="text-lg font-medium">
            {{ "staff.edit.review.label" | transloco }}
          </p>
          <p class="mb-6 text-secondary">
            {{ "staff.edit.review.description" | transloco }}
          </p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-12" *ngIf="canViewReviewFields">
          <!-- Resultado de revisión -->
          <mat-form-field data-cy="review-result-field">
            <mat-label>{{ "staff.edit.review-result.label" | transloco }}</mat-label>
            <mat-select
              [formControlName]="'reviewResult'"
              [required]="canViewReviewFields"
              [compareWith]="compareById"
              data-cy="review-result-select"
            >
              <mat-option *ngFor="let option of reviewResult" [value]="option" data-cy="review-result-option">
                {{ currentLang === "en" ? option.nameEN : option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Fecha de revisión -->
          <mat-form-field data-cy="review-date-field" *ngIf="canViewReviewFields">
            <mat-label>{{ "staff.edit.review-date.label" | transloco }}</mat-label>
            <input
              matInput
              [formControlName]="'reviewDate'"
              [required]="canViewReviewFields"
              placeholder="{{ 'staff.edit.review-date.placeholder' | transloco }}"
              title="reviewDate"
              [matDatepicker]="pickerReviewDate"
              data-cy="review-date-input"
            />
            <mat-datepicker-toggle matIconSuffix [for]="pickerReviewDate" />
            <mat-datepicker #pickerReviewDate />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-12" *ngIf="canViewReviewFields">
          <!-- Justificación de revisión -->
          <mat-form-field data-cy="review-justification-field">
            <mat-label>{{ "staff.edit.review-justification.label" | transloco }}</mat-label>
            <textarea
              matInput
              [formControlName]="'reviewJustification'"
              [required]="canViewReviewFields"
              placeholder="{{ 'staff.edit.review-justification.placeholder' | transloco }}"
              title="reviewJustification"
              data-cy="review-justification-input"
              rows="3"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

