<div class="flex flex-col items-center flex-auto min-w-0 sm:justify-center">
  <!-- Theme Toggle and Languages -->
  <div class="fixed z-50 flex items-center gap-2 top-4 right-4">
    <languages></languages>
  </div>
  <div class="w-full px-4 py-8 sm:w-auto sm:pl-12 sm:pr-12 sm:rounded-2xl sm:shadow sm:bg-card">
    <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
      <!-- Logo -->
      <div class="flex items-center justify-center mt-2">
        <img
          [src]="'assets/images/logo/logo.png'"
          alt="Logo"
          class="w-auto"
          fetchpriority="high"
          loading="eager"
          decoding="sync"
        />
      </div>

      <div class="mt-4 text-4xl font-extrabold leading-tight tracking-tight text-center">{{ 'forgot-password.title' | transloco }}</div>
      <div class="mt-0.5 font-medium text-center">{{ 'forgot-password.subtitle' | transloco }}</div>

      <!-- Alert -->
      <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
        {{ alert.message | transloco }}
      </fuse-alert>

      <!-- Forgot password form -->
      <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm" data-cy="forgot-password-form">
        <!-- Email field -->
        <mat-form-field class="w-full" data-cy="email-field">
          <mat-label>{{ 'forgot-password.email.label' | transloco }}</mat-label>
          <input
            id="email"
            matInput
            [formControlName]="'email'"
            [placeholder]="'forgot-password.email.placeholder' | transloco"
            data-cy="email-input"
            [title]="'forgot-password.email.label' | transloco"
          />
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')" data-cy="email-required-error">
            {{ 'forgot-password.email.required' | transloco }}
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')" data-cy="email-invalid-error">
            {{ 'forgot-password.email.invalid' | transloco }}
          </mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <button
          class="w-full mt-6 fuse-mat-button-large"
          mat-flat-button
          [color]="'primary'"
          [disabled]="forgotPasswordForm.disabled"
          (click)="sendResetLink()"
          data-cy="submit-button"
          [attr.aria-label]="'forgot-password.submit' | transloco"
        >
          <span *ngIf="!forgotPasswordForm.disabled">{{ 'forgot-password.submit' | transloco }}</span>
          <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

        <!-- Form footer -->
        <div class="mt-8 text-center">
          <a class="font-medium text-md text-primary-500 hover:underline" [routerLink]="['/sign-in']">
            {{ 'forgot-password.back-to-login' | transloco }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
