<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>
  <div class="flex-auto overflow-y-auto" cdkScrollable (click)="filterDrawer?.close()">
    <app-generic-table [config]="tableConfig" [handler]="this"></app-generic-table>
  </div>
  <mat-paginator class="hidden sm:block" [pageSizeOptions]="tableConfig.pageSizeOptions" [pageSize]="tableConfig.pageSize" [length]="tableConfig.length" (page)="getPaginator($event)" showFirstLastButtons> </mat-paginator>

  <app-generic-filter-drawer
    #filterDrawer
    [filtersSchema]="filtersSchema"
    [handler]="this"
    [initialValues]="appliedFilters"
    drawerName="sitesPsavListFilterDrawer">
  </app-generic-filter-drawer>
</div>

