<div class="absolute inset-0 flex flex-col min-w-0">
  <!-- Header con título y botones -->
  <app-generic-header [config]="headerConfig" [handler]="this"></app-generic-header>

  <div class="flex-auto overflow-y-auto sm:p-6 sm:w-auto" cdkScrollable>
    <form [formGroup]="headerConfig.formGroup">
      <div class="grid grid-cols-12 gap-2 p-4 sm:pt-0">
        <div class="grid grid-cols-1 col-span-12 gap-4 mb-6 sm:grid-cols-3 sm:col-span-9">
          <!-- Número de solicitud -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.request-number.label" | transloco }}</mat-label>
            <input matInput formControlName="requestNumber" [placeholder]="'agency-pdam.request-number.placeholder' | transloco" aria-label="Número de solicitud" disabled />
          </mat-form-field>

          <!-- Tipo de solicitud -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.request-type.label" | transloco }}</mat-label>
            <mat-select
              formControlName="requestType"
              [placeholder]="'agency-pdam.request-type.placeholder' | transloco"
              [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }"
            >
              <mat-option *ngFor="let option of listRequestType" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Fecha de solicitud -->
          <mat-form-field>
            <mat-label>Fecha de solicitud</mat-label>
            <input matInput [matDatepicker]="requestDatePicker" formControlName="requestDate" placeholder="Seleccione la fecha de solicitud" aria-label="Fecha de solicitud" />
            <mat-datepicker-toggle matIconSuffix [for]="requestDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #requestDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Perfil del Auspiciador Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 my-6 sm:grid-cols-1">
          <p class="text-2xl font-medium">{{ "agency-pdam.sponsor-profile.title" | transloco }}</p>
        </div>

        <!-- Información del Auspiciador -->
        <div class="grid grid-cols-1 col-span-12 gap-4 mb-6 sm:grid-cols-2 sm:col-span-9">
          <!-- Nombre del auspiciador -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.sponsor-profile.sponsor-name.label" | transloco }}:</span>
            <span class="text-lg">{{ sponsorName }}</span>
          </div>

          <!-- UIEs -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.uie-info.uie-number.label" | transloco }}:</span>
            <span class="text-lg">{{ uieNumber }}</span>
          </div>

          <!-- Representante autorizado -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.sponsor-profile.representative-name.label" | transloco }}:</span>
            <span class="text-lg">{{ representativeName }}</span>
          </div>

          <!-- # Registro de Corporación -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.uie-info.corporation-number.label" | transloco }}:</span>
            <span class="text-lg">{{ corporationNumber }}</span>
          </div>

          <!-- Personas programadas -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.sponsor-profile.program-persons.label" | transloco }}:</span>
            <span class="text-lg">{{ programPersons }}</span>
          </div>

          <!-- # Seguro Social Patronal: -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.uie-info.employer-number.label" | transloco }}:</span>
            <span class="text-lg">{{ employerNumber }}</span>
          </div>

          <!-- Dirección física -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.address.physical.label" | transloco }}:</span>
            <span class="text-lg">{{ physicalAddress }}</span>
          </div>

          <!-- Latitud -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.coordinates.latitude.label" | transloco }}:</span>
            <span class="text-lg">{{ latitude | number : "1.2-2" }}°</span>
          </div>

          <!-- Dirección postal -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.address.postal.label" | transloco }}:</span>
            <span class="text-lg">{{ postalAddress }}</span>
          </div>

          <!-- Longitud -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.coordinates.longitude.label" | transloco }}:</span>
            <span class="text-lg">{{ longitude | number : "1.2-2" }}°</span>
          </div>

          <!-- Teléfono -->
          <div class="flex flex-row items-center gap-2">
            <span class="text-lg font-bold">{{ "agency-pdam.address.phone.label" | transloco }}:</span>
            <span class="text-lg">{{ phoneNumber }}</span>
          </div>
        </div>

        <!-- Visión y Misión Fields -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.vision-mission.vision.label" | transloco }}</mat-label>
            <textarea
              matInput
              formControlName="vision"
              rows="4"
              [placeholder]="'agency-pdam.vision-mission.vision.placeholder' | transloco"
              [title]="'agency-pdam.vision-mission.vision.label' | transloco"
              [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }"
            >
            </textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "agency-pdam.vision-mission.mission.label" | transloco }}</mat-label>
            <textarea
              matInput
              formControlName="mission"
              rows="4"
              [placeholder]="'agency-pdam.vision-mission.mission.placeholder' | transloco"
              [title]="'agency-pdam.vision-mission.mission.label' | transloco"
              [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }"
            >
            </textarea>
          </mat-form-field>
        </div>

        <!-- Objetivos Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.vision-mission.objectives.label" | transloco }}</mat-label>
            <textarea
              matInput
              formControlName="objectives"
              rows="4"
              [placeholder]="'agency-pdam.vision-mission.objectives.placeholder' | transloco"
              [title]="'agency-pdam.vision-mission.objectives.label' | transloco"
              [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }"
            >
            </textarea>
          </mat-form-field>
        </div>

        <!-- Tipo de Participación Field -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.vision-mission.participation.label" | transloco }}</mat-label>
            <mat-select formControlName="participationType" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listParticipationType" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <mat-divider class="my-2"></mat-divider> -->

        <!-- Programas Adicionales Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 mt-6 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "agency-pdam.additional-programs.title" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "agency-pdam.additional-programs.description" | transloco }}</p>
        </div>

        <!-- Programas Adicionales Checkboxes -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-9">
          <mat-checkbox formControlName="federalFoodProgram">
            {{ "agency-pdam.additional-programs.federal-food.label" | transloco }}
          </mat-checkbox>

          <mat-checkbox formControlName="specialMilkProgram">
            {{ "agency-pdam.additional-programs.special-milk.label" | transloco }}
          </mat-checkbox>

          <mat-checkbox formControlName="farmToSchoolProgram">
            {{ "agency-pdam.additional-programs.farm-to-school.label" | transloco }}
          </mat-checkbox>

          <mat-checkbox formControlName="summerEBTProgram">
            {{ "agency-pdam.additional-programs.summer-ebt.label" | transloco }}
          </mat-checkbox>

          <mat-checkbox formControlName="farmToSummerProgram">
            {{ "agency-pdam.additional-programs.farm-to-summer.label" | transloco }}
          </mat-checkbox>

          <mat-checkbox formControlName="freshFruitsProgram">
            {{ "agency-pdam.additional-programs.fresh-fruits.label" | transloco }}
          </mat-checkbox>
        </div>

        <!-- Division de nutricion -->
        <div class="grid grid-cols-1 col-span-12 gap-4 mt-8 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "agency-pdam.nutrition-division.title" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "agency-pdam.nutrition-division.description" | transloco }}</p>
        </div>

        <div class="grid items-center grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.nutrition-division.menu.label" | transloco }}</mat-label>
            <mat-select formControlName="participationType" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listNutritionDivision" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--
          <div class="flex items-center justify-center gap-4">
            <p class="font-medium text-md">{{ "agency-pdam.nutrition-division.document.label" | transloco }}</p>
            <button mat-raised-button color="primary" class="h-[3.5rem]">
              <mat-icon class="mr-2">upload</mat-icon>
              {{ "agency-pdam.nutrition-division.document.button" | transloco }}
            </button>
          </div> -->
        </div>

        <!-- Derechos Civiles Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 my-6 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "agency-pdam.civil-rights.title" | transloco }}</p>
          <p class="mb-6 text-secondary">{{ "agency-pdam.civil-rights.description" | transloco }}</p>
        </div>

        <!-- Derechos Civiles Fields -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-9">
          <!-- ¿Necesita el auspiciador material informativo en otros idiomas, además de español e inglés ? -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.other-languages.label" | transloco }}</mat-label>
            <mat-select formControlName="needsOtherLanguages" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listYesNo" [value]="option.value">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Explicación adicional -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.explanation.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="needsOtherLanguagesExplanation"
              [placeholder]="'agency-pdam.civil-rights.explanation.placeholder' | transloco"
              aria-label="Explicación adicional"
            />
          </mat-form-field>

          <!-- ¿Necesita un interprete para diferentes idiomas? -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.interpreter.label" | transloco }}</mat-label>
            <mat-select formControlName="needsInterpreter" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listYesNo" [value]="option.value">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Explicación adicional -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.explanation.label" | transloco }}</mat-label>
            <input
              matInput
              formControlName="needsInterpreterExplanation"
              [placeholder]="'agency-pdam.civil-rights.explanation.placeholder' | transloco"
              aria-label="Explicación adicional"
            />
          </mat-form-field>
        </div>

        <!-- Medios Alternativos -->
        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-9" formGroupName="alternativeMeans">
          <p class="font-medium text-md">{{ "agency-pdam.civil-rights.alternative-means.label" | transloco }}</p>

          <div class="grid grid-cols-2 gap-4">
            <mat-checkbox formControlName="braille">
              {{ "agency-pdam.civil-rights.alternative-means.braille" | transloco }}
            </mat-checkbox>

            <mat-checkbox formControlName="audio">
              {{ "agency-pdam.civil-rights.alternative-means.audio" | transloco }}
            </mat-checkbox>

            <mat-checkbox formControlName="largeText">
              {{ "agency-pdam.civil-rights.alternative-means.large-text" | transloco }}
            </mat-checkbox>

            <mat-checkbox formControlName="signLanguage">
              {{ "agency-pdam.civil-rights.alternative-means.sign-language" | transloco }}
            </mat-checkbox>

            <mat-checkbox formControlName="other">
              {{ "agency-pdam.civil-rights.alternative-means.other" | transloco }}
            </mat-checkbox>
          </div>
        </div>

        <!-- Pre Award y Personas Informadas -->
        <div class="grid items-center grid-cols-1 col-span-12 gap-4 mt-6 sm:grid-cols-2 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.pre-award.label" | transloco }}</mat-label>
            <mat-select formControlName="preAward" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listYesNo" [value]="option.value">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-1 sm:col-span-9">
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.relay-service.label" | transloco }}</mat-label>
            <mat-select formControlName="relayService" [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }">
              <mat-option *ngFor="let option of listYesNo" [value]="option.value">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 mb-2 sm:grid-cols-1 sm:col-span-9">
          <p class="text-lg font-medium">{{ "agency-pdam.civil-rights.informed-date.title" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 sm:grid-cols-2 sm:col-span-9">
          <!-- fecha -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.informed-date.label" | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="informedDate"
              [placeholder]="'agency-pdam.civil-rights.informed-date.placeholder' | transloco"
              [ngClass]="{ 'text-slate-300': isDarkMode, 'text-slate-700': !isDarkMode }"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Explicación adicional -->
          <mat-form-field>
            <mat-label>{{ "agency-pdam.civil-rights.explanation.label" | transloco }}</mat-label>
            <input matInput formControlName="explanation" />
          </mat-form-field>
        </div>

        <!-- Derechos Civiles Section -->
        <div class="grid grid-cols-1 col-span-12 gap-4 my-6 sm:grid-cols-1">
          <p class="text-lg font-medium">{{ "agency-pdam.site-organization.title" | transloco }}</p>
        </div>

        <div class="grid grid-cols-1 col-span-12 gap-4 my-6 sm:grid-cols-1">
          <!-- Table -->
          <div class="flex-auto overflow-y-auto" cdkScrollable>
            <app-generic-table [config]="tableConfig" [handler]="this" #documentsTable></app-generic-table>
          </div>

          <!-- Paginador -->
          <mat-paginator
            class="hidden sm:block"
            [pageSizeOptions]="tableConfig.pageSizeOptions"
            [pageSize]="tableConfig.pageSize"
            [length]="tableConfig.length"
            (page)="getPaginator($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </form>
  </div>
</div>
